<!DOCTYPE html>
<html lang="id">
<head>
	<meta name="google-site-verification" content="kon0eawmrgEHzvac_Ibvae-6_F6suftewCsfBLeaSrM" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime Collection - Elaina Chan</title>
    <link rel="icon" type="image/x-icon" href="static/images/KawaiEl.jpg">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="static/elaina.css">
</head>
<body id="body" class="drak-mode"> <header>
        <div class="header-container">
            <a href="#" class="logo"><i class="fas fa-hat-wizard"></i> ZONA ELAINA <i class="fas fa-star"></i></a>
            <nav class="header-nav">
                <ul>
                    <li><a href="index.html" class="{% if request.endpoint == 'home' %}active{% endif %}">Home</a></li>
                    <li><a href="anime.html" class="{% if request.endpoint == 'anime.html' %}active{% endif %}">Anime</a></li>
                    <li><a href="shorts.html" class="{% if request.endpoint == 'shorts.html' %}active{% endif %}">Shorts</a></li>
                    <li><a href="elaina.html" class="{% if request.endpoint == 'elaina.html' %}active{% endif %}">Elaina</a></li>
                    <li><a href="gallery.html" class="{% if request.endpoint == 'gallery.html' %}active{% endif %}">Gallery</a></li>
                    <li><a href="movies.html" class="{% if request.endpoint == 'movies.html' %}active{% endif %}">Movies</a></li>
                    <li><a href="contact.html" class="{% if request.endpoint == 'contact.html' %}active{% endif %}">Contact</a></li>
                </ul>
		</nav>
            <div class="header-actions">
                <button id="darkModeToggle" class="dark-mode-toggle" aria-label="Toggle dark mode">
                    <i class="fa fa-adjust" aria-hidden="true"></i>
                </button>
                <a href="https://wa.me/6285707357830?text=Tinggalkan%20Pesan" target="_blank" class="whatsapp-button">
                   <i class="fab fa-whatsapp"></i> WhatsApp
                </a>
                <button class="menu-toggle" aria-label="Toggle navigation menu">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
                <div id="imageModal" class="image-modal-overlay">
                 <div class="image-modal-content">
                 <span class="image-close-button">&times;</span>
                 <img class="image-modal-body" id="fullImage" alt="What Hapend">
                 <div class="image-modal-caption" id="imageCaption"></div>
                 <div id="loader" class="loader"></div>
                 <div class="related-images">
                 <a id="modal-link" href="#"><i class="fas fa-share-from-square"></i>Gambar Lainya</a>
                 <div class="related-images-container">
             </div>
          </div>
	</div>
	</header>
<main class="container">
	
<h1 class="videos-title">Elaina Chan's Anime Collection</h1>
<p class="videos-p">Selamat datang di koleksi anime lengkap Elaina Chan. Nikmati serial favorit Anda!</p>
<div class="filter-container">
<div class="filter-toggle">
<button id="filter-button">Filter <span class="arrow-down">▼</span></button></div>
<div class="filter-dropdown">
    <button class="filter-btn" data-filter="meliodas"><i class="fas fa-check-double"></i>The Seven Deadly Sins<i class="fas fa-chevron-circle-right"></i></button>
    <button class="filter-btn" data-filter="tanya"><i class="fas fa-check-double"></i>Saga Of Tanya<i class="fas fa-chevron-circle-right"></i></button>
    <button class="filter-btn" data-filter="hyouka"><i class="fas fa-check-double"></i>Hyouka<i class="fas fa-chevron-circle-right"></i></button>
    <button class="filter-btn" data-filter="dandadan"><i class="fas fa-check-double"></i>Dan Da Dan<i class="fas fa-chevron-circle-right"></i></button>
    <button class="filter-btn" data-filter="konosuba"><i class="fas fa-check-double"></i>Konosuba <i class="fas fa-chevron-circle-right"></i></button>
    <button class="filter-btn" data-filter="dr.stone1"><i class="fas fa-check-double"></i>Dr.Stone S1 <i class="fas fa-chevron-circle-right"></i></button>
    <button class="filter-btn" data-filter="dr.stone2"><i class="fas fa-check-double"></i>Dr.Stone S2 <i class="fas fa-chevron-circle-right"></i></button>
    <button class="filter-btn active" data-filter="all"><i class="fas fa-check-double"></i>All <i class="fas fa-chevron-circle-left"></i></button>
</div>
</div>

<div class="all-videos-container">
                                <section class="video-section"> 
                        <h2 class="section-title">Dr Stone S1</h2>
                                    <div class="video-grid">
                             <div class="video-item" data-category="dr.stone1">
<video id="myVideo" controls playsinline preload="none" poster="static/images/poster/poster_drstone.jpeg" width="100%" height="200px">
                    <source src="https://www.dropbox.com/scl/fi/tt1b979hfp0n3veliy9bt/Dr-Stone-1.webm?rlkey=q8nbngejzb4h54lcqe91g7i8j&st=n2lqdjoz&dl=1" type="video/webm">
                    Browser Anda tidak mendukung tag video.
                </video>
                <h3 class="video-item-title">Dr.Stone S1</h3>
                <p class="video-item-description">Episode:{ 1 }</p>
            </div>
                             <div class="video-item" data-category="dr.stone1">
<video id="myVideo" controls playsinline preload="none" poster="static/images/poster/poster_drstone.jpeg" width="100%" height="200px">
                    <source src="https://www.dropbox.com/scl/fi/gh7i65h2p1ywdssf98zsr/Dr.-STONE-2-ID-Sub-Ani-One-Indonesia-Hj4-hZmb2AE.webm?rlkey=oqi4zn5hi88k4zjgnduwcg9bq&st=hdqcka8g&dl=1" type="video/webm"></video>
                <h3 class="video-item-title">Dr.Stone S1</h3>
                <p class="video-item-description">Episode:{ 2 }</p>
            </div>
                             <div class="video-item" data-category="dr.stone1">
<video id="myVideo" controls playsinline preload="none" poster="static/images/poster/poster_drstone.jpeg" width="100%" height="200px">
                    <source src="https://www.dropbox.com/scl/fi/umba21n8ue57n815em60b/Dr.-STONE-3-ID-Sub-Ani-One-Indonesia-QXBn-_IUEHg.webm?rlkey=5ynq8khr21xx8xpn5cl7urqef&st=pxjuhuzj&dl=1" type="video/webm"></video>
                <h3 class="video-item-title">Dr.Stone S1</h3>
                <p class="video-item-description">Episode:{ 3 }</p>
            </div>
                             <div class="video-item" data-category="dr.stone1">
<video id="myVideo" controls playsinline preload="none" poster="static/images/poster/poster_drstone.jpeg" width="100%" height="200px">
                    <source src="https://www.dropbox.com/scl/fi/hn5719tb8kgxdx3c5p4c1/Dr.-STONE-4-ID-Sub-Ani-One-Indonesia-EWC2oggFzs4.webm?rlkey=8xk2w0g1cdcunkvnxhqy5knsm&st=6xerj3mj&dl=1" type="video/webm"></video>
                <h3 class="video-item-title">Dr.Stone S1</h3>
                <p class="video-item-description">Episode:{ 4 }</p>
            </div>
                             <div class="video-item" data-category="dr.stone1">
<video id="myVideo" controls playsinline preload="none" poster="static/images/poster/poster_drstone.jpeg" width="100%" height="200px">
                    <source src="https://www.dropbox.com/scl/fi/go4319qbdfn3yzuzoo52l/Dr.-STONE-5-ID-Sub-Ani-One-Indonesia-4kW-hsEKzZQ.webm?rlkey=jprta7hxtbu6s6cousr2p2wmt&st=1ot29c0y&dl=1" type="video/webm"></video>
                <h3 class="video-item-title">Dr.Stone S1</h3>
                <p class="video-item-description">Episode:{ 5 }</p>
            </div>
                             <div class="video-item" data-category="dr.stone1">
<video id="myVideo" controls playsinline preload="none" poster="static/images/poster/poster_drstone.jpeg" width="100%" height="200px">
                    <source src="https://www.dropbox.com/scl/fi/k9yohj6xb2vxfnu90sz7x/Dr.-STONE-6-ID-Sub-Ani-One-Indonesia-HwH28pPkd0k.webm?rlkey=hsc4c83c45i9wba6h2xavb2qx&st=q35c94s8&dl=1" type="video/webm"></video>
                <h3 class="video-item-title">Dr.Stone S1</h3>
                <p class="video-item-description">Episode:{ 6 }</p>
            </div>
                             <div class="video-item" data-category="dr.stone1">
<video id="myVideo" controls playsinline preload="none" poster="static/images/poster/poster_drstone.jpeg" width="100%" height="200px">
                    <source src="https://www.dropbox.com/scl/fi/o223ml8l2czf7ai9gaize/Dr.-STONE-7-ID-Sub-Ani-One-Indonesia-aev_t6BqLY0.webm?rlkey=udslir5kusfph8bxlt2vazek7&st=pqjv9qqx&dl=1" type="video/webm"></video>
                <h3 class="video-item-title">Dr.Stone S1</h3>
                <p class="video-item-description">Episode:{ 7 }</p>
            </div>
                             <div class="video-item" data-category="dr.stone1">
<video id="myVideo" controls playsinline preload="none" poster="static/images/poster/poster_drstone.jpeg" width="100%" height="200px">
                    <source src="https://www.dropbox.com/scl/fi/v13yixm7ud7lg3e27z1ph/Dr.-STONE-8-ID-Sub-Ani-One-Indonesia-HzrVF1X7MgI.webm?rlkey=9s9bdpixu6cuj6k75r33vgpqc&st=wic88yqx&dl=1" type="video/webm"></video>
                <h3 class="video-item-title">Dr.Stone S1</h3>
                <p class="video-item-description">Episode:{ 8 }</p>
            </div>
                             <div class="video-item" data-category="dr.stone1">
<video id="myVideo" controls playsinline preload="none" poster="static/images/poster/poster_drstone.jpeg" width="100%" height="200px">
                    <source src="https://www.dropbox.com/scl/fi/mqdpminxilpebmhumt882/Dr.-STONE-9-ID-Sub-Ani-One-Indonesia-VuDvR00HVgY.webm?rlkey=rsnhalvakob4csp9qxryv9ony&st=hoehpsd8&dl=1" type="video/webm"></video>
                <h3 class="video-item-title">Dr.Stone S1</h3>
                <p class="video-item-description">Episode:{ 9 }</p>
            </div>
                             <div class="video-item" data-category="dr.stone1">
<video id="myVideo" controls playsinline preload="none" poster="static/images/poster/poster_drstone.jpeg" width="100%" height="200px">
                    <source src="https://www.dropbox.com/scl/fi/4n8oyfogvegu9bylpogt7/Dr.-STONE-10-ID-Sub-Ani-One-Indonesia-_5ZfazvTKc4.webm?rlkey=pyi57vx52fwvzccir4ggeckl7&st=xv736dk7&dl=1" type="video/webm"></video>
                <h3 class="video-item-title">Dr.Stone S1</h3>
                <p class="video-item-description">Episode:{ 10 }</p>
            </div>
                             <div class="video-item" data-category="dr.stone1">
<video id="myVideo" controls playsinline preload="none" poster="static/images/poster/poster_drstone.jpeg" width="100%" height="200px">
                    <source src="https://www.dropbox.com/scl/fi/86gpjnam9oeb5e0ajia69/Dr.-STONE-11-ID-Sub-Ani-One-Indonesia-IlFZR0g1xuk.webm?rlkey=kf2kjiq2jytobjqjlrx5wgz2g&st=6nso9e6g&dl=1" type="video/webm"></video>
                <h3 class="video-item-title">Dr.Stone S1</h3>
                <p class="video-item-description">Episode:{ 11 }</p>
            </div>
                             <div class="video-item" data-category="dr.stone1">
<video id="myVideo" controls playsinline preload="none" poster="static/images/poster/poster_drstone.jpeg" width="100%" height="200px">
                    <source src="https://www.dropbox.com/scl/fi/ftbk7wdg4nstskk5xupb6/Dr.-STONE-12-ID-Sub-Ani-One-Indonesia-_7YNIJNjLrU.webm?rlkey=bu2hs4qhkfyqsu2gtl8uhwa7f&st=d4hklqx2&dl=1" type="video/webm"></video>
                <h3 class="video-item-title">Dr.Stone S1</h3>
                <p class="video-item-description">Episode:{ 12 }</p>
            </div>
                             <div class="video-item" data-category="dr.stone1">
<video id="myVideo" controls playsinline preload="none" poster="static/images/poster/poster_drstone.jpeg" width="100%" height="200px">
                    <source src="https://www.dropbox.com/scl/fi/6jucad775959mlw6l0m39/Dr.-STONE-13-ID-Sub-Ani-One-Indonesia-u3DIQTvLOPw.webm?rlkey=roh99bxwx6qinejvloje0c3zq&st=ixiz5zfa&dl=1" type="video/webm"></video>
                <h3 class="video-item-title">Dr.Stone S1</h3>
                <p class="video-item-description">Episode:{ 13 }</p>
            </div>
                             <div class="video-item" data-category="dr.stone1">
<video id="myVideo" controls playsinline preload="none" poster="static/images/poster/poster_drstone.jpeg" width="100%" height="200px">
                    <source src="https://www.dropbox.com/scl/fi/tv70p9g15nf4bejtp00od/Dr.-STONE-14-ID-Sub-Ani-One-Indonesia-fLE8DgogWl0.webm?rlkey=ey2ph3gh0hbl62dvp64kjfqci&st=n3ml9e8n&dl=1" type="video/webm"></video>
                <h3 class="video-item-title">Dr.Stone S1</h3>
                <p class="video-item-description">Episode:{ 14 }</p>
            </div>
                             <div class="video-item" data-category="dr.stone1">
<video id="myVideo" controls playsinline preload="none" poster="static/images/poster/poster_drstone.jpeg" width="100%" height="200px">
                    <source src="https://www.dropbox.com/scl/fi/4klho59hlwy5fblx3oywj/Dr.-STONE-15-ID-Sub-Ani-One-Indonesia-_IhE3vO7PyQ.webm?rlkey=vebiyb0cv9csgzlytpywkosbo&st=t482p37y&dl=1" type="video/webm"></video>
                <h3 class="video-item-title">Dr.Stone S1</h3>
                <p class="video-item-description">Episode:{ 15 }</p>
            </div>
                             <div class="video-item" data-category="dr.stone1">
<video id="myVideo" controls playsinline preload="none" poster="static/images/poster/poster_drstone.jpeg" width="100%" height="200px">
                    <source src="https://www.dropbox.com/scl/fi/0tt2f9k1u0svwz32uc0ml/Dr.-STONE-16-ID-Sub-Ani-One-Indonesia-pVtrFniM-W0.webm?rlkey=8j2oqv51fkdgs913mm1vrgdym&st=a5u0neds&dl=1" type="video/webm"></video>
                <h3 class="video-item-title">Dr.Stone S1</h3>
                <p class="video-item-description">Episode:{ 16 }</p>
            </div>
                             <div class="video-item" data-category="dr.stone1">
<video id="myVideo" controls playsinline preload="none" poster="static/images/poster/poster_drstone.jpeg" width="100%" height="200px">
                    <source src="https://www.dropbox.com/scl/fi/fxdmp4q9keexh2znjz2ya/Dr.-STONE-17-ID-Sub-Ani-One-Indonesia-_2MC5cZXIWQ.webm?rlkey=c2rfrqks37x8axd51801xk0zs&st=4wrggwfh&dl=1" type="video/webm"></video>
                <h3 class="video-item-title">Dr.Stone S1</h3>
                <p class="video-item-description">Episode:{ 17 }</p>
            </div>
                             <div class="video-item" data-category="dr.stone1">
<video id="myVideo" controls playsinline preload="none" poster="static/images/poster/poster_drstone.jpeg" width="100%" height="200px">
                    <source src="https://www.dropbox.com/scl/fi/jel7f6z1n8wg8c2hl4k38/Dr.-STONE-18-ID-Sub-Ani-One-Indonesia-COIaZaSvERo.webm?rlkey=27a3cba7lniqai5k7kxpbl8xw&st=4i26zh7s&dl=1" type="video/webm"></video>
                <h3 class="video-item-title">Dr.Stone S1</h3>
                <p class="video-item-description">Episode:{ 18 }</p>
            </div>
                             <div class="video-item" data-category="dr.stone1">
<video id="myVideo" controls playsinline preload="none" poster="static/images/poster/poster_drstone.jpeg" width="100%" height="200px">
                    <source src="https://www.dropbox.com/scl/fi/43coiwaytm95z1jghx9b2/Dr.-STONE-19-ID-Sub-Ani-One-Indonesia-YPPNKJHMrOg.webm?rlkey=hnfxawu2iojyf8p03zsb5wt74&st=41gh98wb&dl=1" type="video/webm"></video>
                <h3 class="video-item-title">Dr.Stone S1</h3>
                <p class="video-item-description">Episode:{ 19 }</p>
            </div>
                             <div class="video-item" data-category="dr.stone1">
<video id="myVideo" controls playsinline preload="none" poster="static/images/poster/poster_drstone.jpeg" width="100%" height="200px">
                    <source src="https://www.dropbox.com/scl/fi/hv9lnj30a51slmcvsv745/Dr.-STONE-20-ID-Sub-Ani-One-Indonesia-wvLHCRqhdNM.webm?rlkey=glrh10necshgtyu3rw0dc5kdc&st=nh743jho&dl=1" type="video/webm"></video>
                <h3 class="video-item-title">Dr.Stone S1</h3>
                <p class="video-item-description">Episode:{ 20 }</p>
            </div>
                             <div class="video-item" data-category="dr.stone1">
            <video id="myVideo" controls playsinline preload="none" poster="static/images/poster/poster_drstone.jpeg" width="100%" height="200px">
								 <source src="https://www.dropbox.com/scl/fi/69996tqlafegdgwthvoxy/Dr.-STONE-21-ID-Sub-Ani-One-Indonesia-BtJUj0CVWes.webm?rlkey=p5j5wq1ojl4dlvaasjfrnrlyr&st=5ooba3h5&dl=1" type="video/webm"></video>
                <h3 class="video-item-title">Dr.Stone S1</h3>
                <p class="video-item-description">Episode:{ 21 }</p>
            </div>
                             <div class="video-item" data-category="dr.stone1">
<video id="myVideo" controls playsinline preload="none" poster="static/images/poster/poster_drstone.jpeg" width="100%" height="200px">
                    <source src="https://www.dropbox.com/scl/fi/ztepo5j3tu6gjm13nkzvl/Dr.-STONE-22-ID-Sub-Ani-One-Indonesia-U_CJ4Sj6AaA.webm?rlkey=tqja31x7exkjae8p14idm7z0h&st=7asp2oeb&dl=1" type="video/webm"></video>
                <h3 class="video-item-title">Dr.Stone S1</h3>
                <p class="video-item-description">Episode:{ 22 }</p>
            </div>
                             <div class="video-item" data-category="dr.stone1">
<video id="myVideo" controls playsinline preload="none" poster="static/images/poster/poster_drstone.jpeg" width="100%" height="200px">
                    <source src="https://www.dropbox.com/scl/fi/u4lwugr27w7ws7qwvntbb/Dr.-STONE-23-ID-Sub-Ani-One-Indonesia-dNm9vzbbXVg.webm?rlkey=p6a07sexna4rik0pumxgq42nq&st=4wkivf3y&dl=1" type="video/webm"></video>
                <h3 class="video-item-title">Dr.Stone S1</h3>
                <p class="video-item-description">Episode:{ 23 }</p>
            </div>
                             <div class="video-item" data-category="dr.stone1">
<video id="myVideo" controls playsinline preload="none" poster="static/images/poster/poster_drstone.jpeg" width="100%" height="200px">
                    <source src="https://www.dropbox.com/scl/fi/y79m8dxe3zmypv2cvuu1t/Dr.-STONE-24-ID-Sub-Ani-One-Indonesia-r2PpzCk4Gcs.webm?rlkey=xhh8ta3bz602iww3m2szyzrik&st=0mctgoz1&dl=1" type="video/webm"></video>
                <h3 class="video-item-title">Dr.Stone S1</h3>
                <p class="video-item-description">Episode:{ 24 }</p>
            </div>
	</div>
	</section>
                                <section class="video-section">
                        <h2 class="section-title">Dr Stone S2</h2>
                                    <div class="video-grid">

                             <div class="video-item" data-category="dr.stone2">
<video id="myVideo" controls playsinline preload="none" poster="static/images/poster/poster_drstone1.jpeg" width="100%" height="200px">
                    <source src="https://www.dropbox.com/scl/fi/xb0d0v9brtmf9syiy7sg6/Dr.STONE-Season-2-1-ID-Sub-Ani-One-Indonesia-oGuzIndZqns.webm?rlkey=bdjbgeyl0oevqwx86u9o36fab&st=dafy7kjg&dl=1"  type="video/webm"></video>
                <h3 class="video-item-title">Dr.Stone S2</h3>
                <p class="video-item-description">Episode:{ 1 }</p></div>

                             <div class="video-item" data-category="dr.stone2">
<video id="myVideo" controls playsinline preload="none" poster="static/images/poster/poster_drstone1.jpeg" width="100%" height="200px">
                    <source src="https://www.dropbox.com/scl/fi/jpdcnf7zue2phutz5i7ob/Dr.STONE-Season-2-2-ID-Sub-Ani-One-Indonesia-k5JnydqeA5Y.webm?rlkey=1yy8dyj4ng2nsb70gsk5zn88q&st=th2lzb0n&dl=1"  type="video/webm"></video>
                <h3 class="video-item-title">Dr.Stone S2</h3>
                <p class="video-item-description">Episode:{ 2 }</p></div>

                             <div class="video-item" data-category="dr.stone2">
<video id="myVideo" controls playsinline preload="none" poster="static/images/poster/poster_drstone1.jpeg" width="100%" height="200px">
                    <source src="https://www.dropbox.com/scl/fi/jzzfjittwukiikttcwdnu/Dr.STONE-Season-2-3-ID-Sub-Ani-One-Indonesia-5lsphkaPBak.webm?rlkey=x9ryvzpgl7wy5suw8u20t1qhv&st=lcv0wdxn&dl=1"  type="video/webm"></video>
                <h3 class="video-item-title">Dr.Stone S2</h3>
                <p class="video-item-description">Episode:{ 3 }</p></div>

                             <div class="video-item" data-category="dr.stone2">
<video id="myVideo" controls playsinline preload="none" poster="static/images/poster/poster_drstone1.jpeg" width="100%" height="200px">
                    <source src="https://www.dropbox.com/scl/fi/sbpj4wg1onufuhv9zrjvg/Dr.STONE-Season-2-4-ID-Sub-Ani-One-Indonesia-3kjox-S-I_A.webm?rlkey=o39k9911d4jjqvvfwxx9stj9a&st=v9039p80&dl=1"  type="video/webm"></video>
                <h3 class="video-item-title">Dr.Stone S2</h3>
                <p class="video-item-description">Episode:{ 4 }</p></div>

                             <div class="video-item" data-category="dr.stone2">
<video id="myVideo" controls playsinline preload="none" poster="static/images/poster/poster_drstone1.jpeg" width="100%" height="200px">
                    <source src="https://www.dropbox.com/scl/fi/9dqyj8s475z4u2sre3aoa/Dr.STONE-Season-2-5-ID-Sub-Ani-One-Indonesia-Tu4ShSo8orY.webm?rlkey=222vxczbvk5i44zz1cjntljjw&st=p2cipzv9&dl=1"  type="video/webm"></video>
                <h3 class="video-item-title">Dr.Stone S2</h3>
                <p class="video-item-description">Episode:{ 5 }</p></div>

                             <div class="video-item" data-category="dr.stone2">
<video id="myVideo" controls playsinline preload="none" poster="static/images/poster/poster_drstone1.jpeg" width="100%" height="200px">
                    <source src="https://www.dropbox.com/scl/fi/237mzehl6ueotp8e3n403/Dr.STONE-Season-2-6-ID-Sub-Ani-One-Indonesia-pMRJaj8Mr8.webm?rlkey=7spy2hcdwu0x83222bfznddsq&st=jx96xv8p&dl=1"  type="video/webm"></video>
                <h3 class="video-item-title">Dr.Stone S2</h3>
                <p class="video-item-description">Episode:{ 6 }</p></div>
                             <div class="video-item" data-category="dr.stone2">
<video id="myVideo" controls playsinline preload="none" poster="static/images/poster/poster_drstone1.jpeg" width="100%" height="200px">
                    <source src="https://www.dropbox.com/scl/fi/m28kd8fr48ze1zvhqwwih/dr.stone7.webm?rlkey=zd0ifc1o2kpc3bq1ycch7m32q&st=hcxtqd1y&dl=1"  type="video/webm"></video>
                <h3 class="video-item-title">Dr.Stone S2</h3>
                <p class="video-item-description">Episode:{ 7 }</p></div>
                             <div class="video-item" data-category="dr.stone2">
<video id="myVideo" controls playsinline preload="none" poster="static/images/poster/poster_drstone1.jpeg" width="100%" height="200px">
                    <source src="https://www.dropbox.com/scl/fi/nol8qq243hg3mp3h4hhlv/dr.stone8.webm?rlkey=ef1j0mq3njfvsoy593825u7mc&st=kdnxt34j&dl=1"  type="video/webm"></video>
                <h3 class="video-item-title">Dr.Stone S2</h3>
                <p class="video-item-description">Episode:{ 8 }</p></div>
                             <div class="video-item" data-category="dr.stone2">
<video id="myVideo" controls playsinline preload="none" poster="static/images/poster/poster_drstone1.jpeg" width="100%" height="200px">
                    <source src="https://www.dropbox.com/scl/fi/yhrxj4zhrorjgorrci9rt/dr.stone9.webm?rlkey=cck367knmlra1pt3zwv9gdl4d&st=z1uh8s7o&dl=1"  type="video/webm"></video>
                <h3 class="video-item-title">Dr.Stone S2</h3>
                <p class="video-item-description">Episode:{ 9 }</p></div>

                             <div class="video-item" data-category="dr.stone2">
<video id="myVideo" controls playsinline preload="none" poster="static/images/poster/poster_drstone1.jpeg" width="100%" height="200px">
                    <source src="https://www.dropbox.com/scl/fi/s492ubyjfua352z2bxc46/dr.stone10.webm?rlkey=ntrlilb31yz9frt89jc2qnnwa&st=fdrox537&dl=1"  type="video/webm"></video>
                <h3 class="video-item-title">Dr.Stone S2</h3>
                <p class="video-item-description">Episode:{ 10 }</p></div>

                             <div class="video-item" data-category="dr.stone2">
<video id="myVideo" controls playsinline preload="none" poster="static/images/poster/poster_drstone1.jpeg" width="100%" height="200px">
                    <source src="https://www.dropbox.com/scl/fi/s492ubyjfua352z2bxc46/dr.stone10.webm?rlkey=ntrlilb31yz9frt89jc2qnnwa&st=fdrox537&dl=1"  type="video/webm"></video>
                <h3 class="video-item-title">Dr.Stone S2</h3>
                <p class="video-item-description">Episode:{ 11 }</p>
            </div>
        </section>


                         <section class="video-section">
                        <h2 class="section-title">KONOSUBA</h2>
                               <div id="videos" class="video-grid">
                            <div class="video-item" data-category="konosuba">
<iframe src="https://drive.google.com/file/d/1FtqWZfreEINfwzKCu9Kezn-vHTxwdQ-c/preview" width="100%" height="200px"></iframe>
                <h3 class="video-item-title">《God's blessing on this wonderful world!!》</h3>
                <p class="video-item-description">Episode:{ 1 }</p>
            </div>
                            <div class="video-item" data-category="konosuba">
 <iframe src="https://drive.google.com/file/d/1FxDFCoD-bDGi51uychRnmLCkyLzBzuX8/preview" width="100%" height="200px"></iframe>
                <h3 class="video-item-title">《God's blessing on this wonderful world!!》</h3>
                <p class="video-item-description">Episode:{ 2 }</p>
            </div>
                            <div class="video-item" data-category="konosuba">
<iframe src="https://drive.google.com/file/d/1Fr_DH4IetW5QOCvkkZqJWfikPJM7Itr-/preview" width="100%" height="200px"></iframe>
                <h3 class="video-item-title">《God's blessing on this wonderful world!!》</h3>
                <p class="video-item-description">Episode:{ 3 }</p>
            </div>
                            <div class="video-item" data-category="konosuba">
<iframe src="https://drive.google.com/file/d/1Ffg9m4jD0K5f4uEQ1zRlhxoeueW0u1D3/preview" width="100%" height="200px"></iframe>
                <h3 class="video-item-title">《God's blessing on this wonderful world!!》</h3>
                <p class="video-item-description">Episode:{ 4 }</p>
            </div>
                            <div class="video-item" data-category="konosuba">
<iframe src="https://drive.google.com/file/d/1FzUVmACDXU1yBImY7xaNrk95T3-OeAKz/preview" width="100%" height="200px"></iframe>
                <h3 class="video-item-title">《God's blessing on this wonderful world!!》</h3>
                <p class="video-item-description">Episode:{ 5 }</p>
            </div>
                            <div class="video-item" data-category="konosuba">
<iframe src="https://drive.google.com/file/d/1Fezq15yQDUg4qKM7bDQ-IS8HUmxUWYWr/preview" width="100%" height="200px"></iframe>
                <h3 class="video-item-title">《God's blessing on this wonderful world!!》</h3>
                <p class="video-item-description">Episode:{ 6 }</p>
            </div>
                            <div class="video-item" data-category="konosuba">
<iframe src="https://drive.google.com/file/d/1FYnp7rQoVMj7b7RvE2HU0zRa-VUgtM8_/preview" width="100%" height="200px"></iframe>
                <h3 class="video-item-title">《God's blessing on this wonderful world!!》</h3>
                <p class="video-item-description">Episode:{ 7 }</p>
            </div>
                            <div class="video-item" data-category="konosuba">
<iframe src="https://drive.google.com/file/d/1FbQka6E0K4OA1t9w1IhnVgdAcYfurSeL/preview" width="100%" height="200px"></iframe>
                <h3 class="video-item-title">《God's blessing on this wonderful world!!》</h3>
                <p class="video-item-description">Episode:{ 8 }
	     </div> 
                           <div class="video-item" data-category="konosuba">
<iframe src="https://drive.google.com/file/d/1FckgUoAOZ5SFE-z1SMS1vybtyeF6zsDT/preview" width="100%" height="200px"></iframe>
                <h3 class="video-item-title">《God's blessing on this wonderful world!!》</h3>
                <p class="video-item-description">Episode:{ 9 }</p>
            </div>
                            <div class="video-item" data-category="konosuba">
 <iframe src="https://drive.google.com/file/d/1FYC9sUbq_LGbO2JXRKbDS08h28W0HQFD/preview" width="100%" height="200px"></iframe>
                <h3 class="video-item-title">《God's blessing on this wonderful world!!》</h3>
                <p class="video-item-description">Episode:{ 10 }</p>
            </div>
	</section>
     				<section class="video-section">
    		
        		<h2 class="section-title">Saga of Tanya The Evil</h2>
        				<div class="video-grid">
            				<div class="video-item" data-category="tanya">
<video id="myVideo" controls playsinline preload="none" poster="static/images/poster/poster_tanya.jpeg" width="100%" height="200px">
                    <source src="https://www.dropbox.com/scl/fi/lkxuotz5h508s2p72b2p7/tanya1.webm?rlkey=eyuguuijzk6qtrvqeb3qgh24u&st=9ryi3oc2&dl=1" type="video/webm">
                    Browser Anda tidak mendukung tag video.
                </video>
                <h3 class="video-item-title">Saga Of Tanya</h3>
                <p class="video-item-description">Episode:{ 1 }</p>
            </div>
            <div class="video-item" data-category="tanya">
<video id="myVideo" controls playsinline preload="none" poster="static/images/poster/poster_tanya.jpeg" width="100%" height="200px">
                    <source src="https://www.dropbox.com/scl/fi/sudpotooj4utblowwie21/tanya2.webm?rlkey=h2zshkpf77d48qrrherh7qpbo&st=wkf1jgwt&dl=1" type="video/webm">
                    Browser Anda tidak mendukung tag video.
                </video>
                <h3 class="video-item-title">Saga Of Tanya</h3>
                <p class="video-item-description">Episode: 2</p>
            </div>
            <div class="video-item" data-category="tanya">
<video id="myVideo" controls playsinline preload="none" poster="static/images/poster/poster_tanya.jpeg" width="100%" height="200px">
                    <source src="https://www.dropbox.com/scl/fi/kiq9ofcd5pbxe3skj459g/tanya3.webm?rlkey=q8tawvka5loso5xjmel5m4v4h&st=zg1dw22u&dl=1" type="video/webm">
                    Browser Anda tidak mendukung tag video.
                </video>
                <h3 class="video-item-title">Saga Of Tanya</h3>
                <p class="video-item-description">Episode:{ 3 }</p>
            </div>
            <div class="video-item" data-category="tanya">
<video id="myVideo" controls playsinline preload="none" poster="static/images/poster/poster_tanya.jpeg" width="100%" height="200px">
                    <source src="https://www.dropbox.com/scl/fi/gva4hom8ht87t9k4jyiq8/tanya4.webm?rlkey=4qkwopu5uzhar55e1yddz9bns&st=8mido3tp&dl=1" type="video/webm">
                    Browser Anda tidak mendukung tag video.
                </video>
                <h3 class="video-item-title">Saga Of Tanya</h3>
                <p class="video-item-description">Episode:{ 4 }</p>
            </div>
            <div class="video-item" data-category="tanya">
<video id="myVideo" controls playsinline preload="none" poster="static/images/poster/poster_tanya.jpeg" width="100%" height="200px">
                    <source src="https://www.dropbox.com/scl/fi/4lqpptgej8sr6wj2400nz/tanya5.webm?rlkey=3sshpw2i9jekxtl6uks3efd1q&st=16y8ja60&dl=1" type="video/webm">
                    Browser Anda tidak mendukung tag video.
                </video>
                <h3 class="video-item-title">Saga Of Tanya</h3>
                <p class="video-item-description">Episode:{ 5 }</p>
            </div>
            <div class="video-item" data-category="tanya">
<video id="myVideo" controls playsinline preload="none" poster="static/images/poster/poster_tanya.jpeg" width="100%" height="200px">
                    <source src="https://www.dropbox.com/scl/fi/t7ak8mb4o37jirmm0uotf/tanya6.webm?rlkey=hx4evren5ooo0l6edq9z43hyz&st=19v9nvdg&dl=1" type="video/webm">
                    Browser Anda tidak mendukung tag video.
                </video>
                <h3 class="video-item-title">Saga Of Tanya</h3>
                <p class="video-item-description">Episode:{ 6 }</p>
            </div>
            <div class="video-item" data-category="tanya">
<video id="myVideo" controls playsinline preload="none" poster="static/images/poster/poster_tanya.jpeg" width="100%" height="200px">
                    <source src="https://www.dropbox.com/scl/fi/fax1nj0j4ahz79cpsb1ko/tanya7.webm?rlkey=8khfbmfyp4fa1ch984az9af6j&st=vrgp86ng&dl=1" type="video/webm">
                    Browser Anda tidak mendukung tag video.
                </video>
                <h3 class="video-item-title">Saga Of Tanya</h3>
                <p class="video-item-description">Episode:{ 7 }</p>
            </div>
            <div class="video-item" data-category="tanya">
<video id="myVideo" controls playsinline preload="none" poster="static/images/poster/poster_tanya.jpeg" width="100%" height="200px">
                    <source src="https://www.dropbox.com/scl/fi/1ykjqjoit9is7mlcjg7dx/tanya8.webm?rlkey=ga4aq62hp0n7th62trd4qvwjp&st=3zuo95dk&dl=1" type="video/webm">
                    Browser Anda tidak mendukung tag video.
                </video>
                <h3 class="video-item-title">Saga Of Tanya</h3>
                <p class="video-item-description">Episode:{ 8 }</p>
            </div>
            <div class="video-item" data-category="tanya">
<video id="myVideo" controls playsinline preload="none" poster="static/images/poster/poster_tanya.jpeg" width="100%" height="200px">
                    <source src="https://www.dropbox.com/scl/fi/uc459kr8rms6ctr1pt19d/tanya9.webm?rlkey=bj1ug3sl0ds90hxvxo2p1mm5p&st=xthm5orj&dl=1" type="video/webm">
                    Browser Anda tidak mendukung tag video.
                </video>
                <h3 class="video-item-title">Saga Of Tanya</h3>
                <p class="video-item-description">Episode:{ 9 }</p>
            </div>
            <div class="video-item" data-category="tanya">
<video id="myVideo" controls playsinline preload="none" poster="static/images/poster/poster_tanya.jpeg" width="100%" height="200px">
                    <source src="https://www.dropbox.com/scl/fi/q3990whfqlvl5h2t0sjas/tanya10.webm?rlkey=rmv7658ldc8zwm0owzjd0hw78&st=ypj29b5z&dl=1" type="video/webm">
                    Browser Anda tidak mendukung tag video.
                </video>
                <h3 class="video-item-title">Saga Of Tanya</h3>
                <p class="video-item-description">Episode:{ 10 }</p>
            </div>
            <div class="video-item" data-category="tanya">
<video id="myVideo" controls playsinline preload="none" poster="static/images/poster/poster_tanya.jpeg" width="100%" height="200px">
                    <source src="https://www.dropbox.com/scl/fi/vxm6tpffgv37nz34d0l31/tanya11.webm?rlkey=5uvd1y8s71mn49pjug5fvvyue&st=onrndvfk&dl=1" type="video/webm">
                    Browser Anda tidak mendukung tag video.
                </video>
                <h3 class="video-item-title">Saga Of Tanya</h3>
                <p class="video-item-description">Episode:{ 11 }</p>
            </div>
            <div class="video-item" data-category="tanya">
<video id="myVideo" controls playsinline preload="none" poster="static/images/poster/poster_tanya.jpeg" width="100%" height="200px">
                    <source src="https://www.dropbox.com/scl/fi/bfo1tmis3rwsxepta5mmy/tanya12.webm?rlkey=jfjpta0yl7lrqe5uz60oh7gh6&st=zqwks0ll&dl=1" type="video/webm">
                    Browser Anda tidak mendukung tag video.
                </video>
                <h3 class="video-item-title">Saga Of Tanya</h3>
                <p class="video-item-description">Episode:{ 12 }</p>
            </div>
        </div>
    </section>

    <section class="video-section">
      <h2 class="section-title">DAN DA DAN</h2>
        <div class="video-grid">   
            <div class="video-item" data-category="dandadan">
<iframe src="https://drive.google.com/file/d/1NWd3KPXi-BdGFoheKoF3hX1_oSIiVW-d/preview" width="100%" height="200px"></iframe>
                <h3 class="video-item-title">DAN DA DAN</h3>
                <p class="video-item-description">Episode:{ 1 }</p>
            </div>
            <div class="video-item" data-category="dandadan">
<iframe src="https://drive.google.com/file/d/1OYt4-_uloIMu9iIUkhJWEdarkwKAtnlr/preview" width="100%" height="200px"></iframe>
                <h3 class="video-item-title">DAN DA DAN</h3>
                <p class="video-item-description">Episode:{ 2 }</p>
            </div>
            <div class="video-item" data-category="dandadan">
<iframe src="https://drive.google.com/file/d/1NbfVZAVMnT7wOu_5L8l68fMDhT6j-qK7/preview" width="100%" height="200px"></iframe>
                <h3 class="video-item-title">DAN DA DAN</h3>
                <p class="video-item-description">Episode:{ 3 }</p>
            </div>
            <div class="video-item" data-category="dandadan">
<iframe src="https://drive.google.com/file/d/1OWbGkNpj6A06UzL-XGy1qp3rsI4MgNaE/preview" width="100%" height="200px"></iframe>
		<h3 class="video-item-title">DAN DA DAN</h3>
	        <p class="video-item-description">Episode:{ 4 }</p>
            </div>
            <div class="video-item" data-category="dandadan">
<iframe src="https://drive.google.com/file/d/1OfGZol2hGvrDhr4irevdIZxD4_m7sZRz/preview" width="100%" height="200px"></iframe>
                <h3 class="video-item-title">DAN DA DAN</h3>
                <p class="video-item-description">Episode:{ 5 }</p>
            </div>
		<div class="video-item" data-category="dandadan">
<iframe src="https://drive.google.com/file/d/1Oab6lEjZ0kz3W9hRSKLHKCkqdZFeeZFz/preview" width="100%" height="200px"></iframe>
                <h3 class="video-item-title">DAN DA DAN</h3>
                <p class="video-item-description">Episode:{ 6 }</p>
            </div>
            <div class="video-item">
<iframe src="https://drive.google.com/file/d/1OkLsaFTrJUKsiQ4eHmyzixfBMfNQiHlL/preview" width="100%" height="200px"></iframe>
                <h3 class="video-item-title">DAN DA DAN</h3>
                <p class="video-item-description">Episode:{ 7 }</p>
            </div>
            <div class="video-item" data-category="dandadan">
<iframe src="https://drive.google.com/file/d/1Oigi4xKzq4MmFLHKrRAxmLunxaa4xw8Z/preview" width="100%" height="200px"></iframe>
                </video>
		<h3 class="video-item-title">DAN DA DAN</h3>
                <p class="video-item-description">Episode:{ 8 }</p>
            </div>
            <div class="video-item" data-category="dandadan">
<iframe src="https://drive.google.com/file/d/1OmS0oLyA0xz3Gh62rDcspcxO1r555lEp/preview" width="100%" height="200px"></iframe>
                <h3 class="video-item-title">DAN DA DAN</h3>
                <p class="video-item-description">Episode:{ 9 }</p>
            </div>
                <div class="video-item" data-category="dandadan">
<iframe src="https://drive.google.com/file/d/1NeolYOCzgUS1Q9OhChNE7j8jO5Sv7-oy/preview" width="100%" height="200px"></iframe>
                <h3 class="video-item-title">DAN DA DAN</h3>
                <p class="video-item-description">Episode:{ 10 }</p>
            </div>
            <div class="video-item" data-category="dandadan">
<iframe src="https://drive.google.com/file/d/1NrAs-x6hYfkBuQtg_Fk1i8wVLBpphazj/preview" width="100%" height="200px"></iframe>
                <h3 class="video-item-title">DAN DA DAN</h3>
                <p class="video-item-description">Episode:{ 11 }</p>
            </div>
              <div class="video-item" data-category="dandadan">
<iframe src="https://drive.google.com/file/d/1NGBgleuHBI-kjtAFHWqQ3K4VSXs7WNag/preview" width="100%" height="200px"></iframe>
                <h3 class="video-item-title">DAN DA DAN</h3>
                <p class="video-item-description">Episode:{ 12 }</p>
            </div>
        </div>
    </section>
   			 <section class="video-section">
        		<h2 class="section-title">Hyouka</h2>
		               <div class="video-grid">

	        	    <div class="video-item" data-category="hyouka">
<iframe src="https://drive.google.com/file/d/1OkcX7AoK5VB0iwnaTRvwRGjqnNQjgEH3/preview" width="100%" height="200px"></iframe>
                <h3 class="video-item-title">Hyouka</h3>
                <p class="video-item-description">Episode:{ 1 }</p>
            </div>

            <div class="video-item" data-category="hyouka">
<iframe src="https://drive.google.com/file/d/1SeT4FIh3g2A7lTpVCjfqJW-NjWVrPc8_/preview" width="100%" height="200px"></iframe>
                <h3 class="video-item-title">Hyouka</h3>
                <p class="video-item-description">Episode:{ 2 }</p>
            </div>
            <div class="video-item" data-category="hyouka">
<iframe src="https://drive.google.com/file/d/1ShxC3sUTLpuD_0SfNjK_b-YASuFVXG2F/preview" width="100%" height="200px"></iframe>
                <h3 class="video-item-title">Hyouka</h3>
                <p class="video-item-description">Episode:{ 3 }</p>
        </div>

            <div class="video-item" data-category="hyouka">
<iframe src="https://drive.google.com/file/d/1SqYZvOPcJ4LOBtnrwi-z_kb21krbfd4L/preview" width="100%" height="200px"></iframe>
                <h3 class="video-item-title">Hyouka</h3>
                <p class="video-item-description">Episode:{ 4 }</p>
        </div>

            <div class="video-item" data-category="hyouka">
<iframe src="https://drive.google.com/file/d/1SqaQMvGDrqDkoGBGkwycYZTAyTJWeuGL/preview" width="100%" height="200px"></iframe>
                <h3 class="video-item-title">Hyouka</h3>
                <p class="video-item-description">Episode:{ 5 }</p>
        </div>

            <div class="video-item" data-category="hyouka">
<iframe src="https://drive.google.com/file/d/1Sr_YPlCCW8gtBkg4PFm2AvoFTMBqbHUt/preview" width="100%" height="200px"></iframe>
                <h3 class="video-item-title">Hyouka</h3>
                <p class="video-item-description">Episode:{ 6 }</p>
        </div>

            <div class="video-item" data-category="hyouka">
<iframe src="https://drive.google.com/file/d/1SuccFIwPHf0dHvE7d9MO1hR8HjRAkwnO/preview" width="100%" height="200px"></iframe>
                <h3 class="video-item-title">Hyouka</h3>
                <p class="video-item-description">Episode:{ 7 }</p>
        </div>

            <div class="video-item" data-category="hyouka">
<iframe src="https://drive.google.com/file/d/1SwH5OcVGuVs0Fk7K9SnPz6hm2Nz9xKIF/preview" width="100%" height="200px"></iframe>
                <h3 class="video-item-title">Hyouka</h3>
                <p class="video-item-description">Episode:{ 8 }</p>
        </div>

            <div class="video-item" data-category="hyouka">
<iframe src="https://drive.google.com/file/d/1SwuKgIAobyGy8Lp71TiCodGfjk8pC7Ez/preview" width="100%" height="200px"></iframe>
                <h3 class="video-item-title">Hyouka</h3>
                <p class="video-item-description">Episode:{ 9 }</p>
        </div>

            <div class="video-item" data-category="hyouka">
<iframe src="https://drive.google.com/file/d/1Op2kpkREvlaW8kFIVl8s1o1GpRT6hLh6/preview" width="100%" height="200px"></iframe>
                <h3 class="video-item-title">Hyouka</h3>
                <p class="video-item-description">Episode:{ 10 }</p>
        </div>

            <div class="video-item" data-category="hyouka">
<iframe src="https://drive.google.com/file/d/1P2zS_RZexs5ed7Bakm9_Sl6JqHMsmQEM/preview" width="100%" height="200px"></iframe>
                <h3 class="video-item-title">Hyouka</h3>
                <p class="video-item-description">Episode:{ 11 }</p>
        </div>

            <div class="video-item" data-category="hyouka">
<iframe src="https://drive.google.com/file/d/1P6dRPpy-po46ODTMjW2lxE0-md0IBa1P/preview" width="100%" height="200px"></iframe>
                <h3 class="video-item-title">Hyouka</h3>
                <p class="video-item-description">Episode:{ 12 }</p>
        </div>

            <div class="video-item" data-category="hyouka">
<iframe src="https://drive.google.com/file/d/1Omsi8mWWS52ZPaKD1Qs9ZXNUgPtANIvh/preview" width="100%" height="200px"></iframe>
                <h3 class="video-item-title">Hyouka</h3>
                <p class="video-item-description">Episode:{ 13 }</p>
        </div>

            <div class="video-item" data-category="hyouka">
<iframe src="https://drive.google.com/file/d/1P7Y-OXQQdrn8iZHHYdqD2sI_YSOIbtv5/preview" width="100%" height="200px"></iframe>
                <h3 class="video-item-title">Hyouka</h3>
                <p class="video-item-description">Episode:{ 14 }</p>
        </div>

            <div class="video-item" data-category="hyouka">
<iframe src="https://drive.google.com/file/d/1PLhQYfHUIE9KNn2IStVdAySqT6lUYwVU/preview" width="100%" height="200px"></iframe>
                <h3 class="video-item-title">Hyouka</h3>
                <p class="video-item-description">Episode:{ 15 }</p>
        </div>

            <div class="video-item" data-category="hyouka">
<iframe src="https://drive.google.com/file/d/1PMNKHvxMYApmdAm--gHEMSM2caMJOvGn/preview" width="100%" height="200px"></iframe>
                <h3 class="video-item-title">Hyouka</h3>
                <p class="video-item-description">Episode:{ 16 }</p>
        </div>

            <div class="video-item" data-category="hyouka">
<iframe src="https://drive.google.com/file/d/1POIdAYyT7BVWV1SPQ0Nsk8VkinPQe5v9/preview" width="100%" height="200px"></iframe>
                <h3 class="video-item-title">Hyouka</h3>
                <p class="video-item-description">Episode:{ 17 }</p>
        </div>

            <div class="video-item" data-category="hyouka">
<iframe src="https://drive.google.com/file/d/1POdS3Zv8ve_b6M7CG7-HVB6MsVkbpjmv/preview" width="100%" height="200px"></iframe>
                <h3 class="video-item-title">Hyouka</h3>
                <p class="video-item-description">Episode:{ 18 }</p>
        </div>

            <div class="video-item" data-category="hyouka">
<iframe src="https://drive.google.com/file/d/1SOmhKJr_qjfiHoO-hORUKgHZVOl_yjdO/preview" width="100%" height="200px"></iframe>
                <h3 class="video-item-title">Hyouka</h3>
                <p class="video-item-description">Episode:{ 19 }</p>
        </div>

            <div class="video-item" data-category="hyouka">
<iframe src="https://drive.google.com/file/d/1Sa8OqyOTjUD2VUrGEIn_IhUsVb_9i34o/preview" width="100%" height="200px"></iframe>
                <h3 class="video-item-title">Hyouka</h3>
                <p class="video-item-description">Episode:{ 20 }</p>
        </div>

            <div class="video-item" data-category="hyouka">
<iframe src="https://drive.google.com/file/d/1SkPTOq5ptaTlq42tWkxTx5SmJAk_x7wv/preview" width="100%" height="200px"></iframe>
                <h3 class="video-item-title">Hyouka</h3>
                <p class="video-item-description">Episode:{ 21 }</p>
        </div>

            <div class="video-item" data-category="hyouka">
<iframe src="https://drive.google.com/file/d/1SQEY7YTmuu-GYGAoMOfErMG1xhn9tWzb/preview" width="100%" height="200px"></iframe>
                <h3 class="video-item-title">Hyouka</h3>
                <p class="video-item-description">Episode:{ 22 }</p>
        </div>

            <div class="video-item" data-category="hyouka">
<iframe src="https://drive.google.com/file/d/1T3rbn2R05tFRCcCO1KHCQiA19kxCZy-9/preview" width="100%" height="200px"></iframe>
                <h3 class="video-item-title">What Should Be Had</h3>
                <p class="video-item-description">Hyouka Ova</p>
</div>

    </section>

				    <section class="video-section">
		        <h2 class="section-title">The Seven Deadly Sins</h2>
        				<div class="video-grid">

            <div class="video-item" data-category="meliodas">
<iframe src="https://drive.google.com/file/d/1Gr_sJGH_yLsJnBroON4v-GtvBeEMU162/preview" width="100%" height="200px" allow="fullscreen"></iframe>
                 <h3 class="video-item-title">TsDS Season 1</h3>
                <p class="video-item-description">Episode:{ 1 }</p>
            </div>

            <div class="video-item" data-category="meliodas">
<iframe src="https://drive.google.com/file/d/1GbUd19ukzohOO4BRTKyi3iJXcCayD7gZ/preview" width="100%" height="200px" allow="fullscreen"></iframe>
                <h3 class="video-item-title">TsDS Season 1</h3>
                <p class="video-item-description">Episode:{ 2 }</p>
            </div>

            <div class="video-item" data-category="meliodas">
<iframe src="https://drive.google.com/file/d/1GnNG-haIZCpZTyOfu4pVtpPqWNvurAoy/preview" width="100%" height="200px" allow="fullscreen"></iframe>
                <h3 class="video-item-title">TsDS Season 1</h3>
                <p class="video-item-description">Episode:{ 3 }</p>
		</div>

            <div class="video-item" data-category="meliodas">
<iframe src="https://drive.google.com/file/d/1GfXzITu9_hS8gawA2Ln9ZVKg_umJGogE/preview" width="100%" height="200px" allow="fullscreen"></iframe>
                   <h3 class="video-item-title">TsdS Season 1</h3>
                   <p class="video-item-description">Episode:{ 4 }</p>
            </div>

            <div class="video-item" data-category="meliodas">
<iframe src="https://drive.google.com/file/d/1GRWIUMO3fzT3EbpPjcpzWjEirzS3RFrT/preview" width="100%" height="200px" allow="fullscreen"></iframe>
                <h3 class="video-item-title">Tsds Season 1</h3>
               <p class="video-item-description">Episode:{ 5 }</p>
            </div>

            <div class="video-item" data-category="meliodas">
<iframe src="https://drive.google.com/file/d/1GXl-LgLydzXHojIksY-1bwcHrAs-uf7Y/preview" width="100%" height="200px" allow="fullscreen"></iframe>
                <h3 class="video-item-title">Tsds Season 1</h3>
                <p class="video-item-description">Episode:{ 6 }</p>
            </div>

            <div class="video-item" data-category="meliodas">
<iframe src="https://drive.google.com/file/d/1GFm7hd1YswLQeYnQGCdTcThErb1trhH-/preview" width="100%" height="200px" allow="fullscreen"></iframe>
                <h3 class="video-item-title">Tsds Season 1</h3>
                <p class="video-item-description">Episode:{ 7 }</p>
            </div>

            <div class="video-item" data-category="meliodas">
<iframe src="https://drive.google.com/file/d/1GIAYlzj6f90OWi0x-HP1AhrXWyh7TDd5/preview" width="100%" height="200px" allow="fullscreen"></iframe>
                <h3 class="video-item-title">Tsds Season 1</h3>
                <p class="video-item-description">Episode:{ 8 }</p>
            </div>

            <div class="video-item" data-category="meliodas">
<iframe src="https://drive.google.com/file/d/1G2JJOIY5lpE2Px-GCXRheEeHbMo4umpN/preview" width="100%" height="200px" allow="fullscreen"></iframe>
                <h3 class="video-item-title">Tsds Season 1</h3>
                <p class="video-item-description">Episode:{ 9 }</p>
            </div>

            <div class="video-item" data-category="meliodas">
<iframe src="https://drive.google.com/file/d/1G4r2io6BY0c0ABe6-pRUJ4VBQx-9F6HV/preview" width="100%" height="200px" allow="fullscreen"></iframe>
                <h3 class="video-item-title">Tsds Season 1</h3>
                <p class="video-item-description">Episode:{ 10 }</p>
            </div>

            <div class="video-item" data-category="meliodas">
<iframe src="https://drive.google.com/file/d/1G2OUasQZpBFosElFNo2IsfFv6bEs-iQv/preview" width="100%" height="200px" allow="fullscreen"></iframe>
                <h3 class="video-item-title">Tsds Season 1</h3>
                <p class="video-item-description">Episode:{ 11 }</p>
            </div>

            <div class="video-item" data-category="meliodas">
<iframe src="https://drive.google.com/file/d/1G5xPL4PzK49tfVXBeg0DzePsv6IGUUqG/preview" width="100%" height="200px" allow="fullscreen"></iframe>
                <h3 class="video-item-title">Tsds Season 1</h3>
                <p class="video-item-description">Episode:{ 12 }</p>
            </div>

            <div class="video-item" data-category="meliodas">
<iframe src="https://drive.google.com/file/d/1Fy_ozUhAqn0C0u1HL4xBX8CWMBgB8sm1/preview" width="100%" height="200px" allow="fullscreen"></iframe>
                <h3 class="video-item-title">Tsds Season 1</h3>
                <p class="video-item-description">Episode:{ 13 }</p>
            </div>

            <div class="video-item" data-category="meliodas">
<iframe src="https://drive.google.com/file/d/1Fv7jWCQaE4jdIo8qppFdZFyBSMqE1DvA/preview" width="100%" height="200px" allow="fullscreen"></iframe>
                <h3 class="video-item-title">Tsds Season 1</h3>
                <p class="video-item-description">Episode:{ 14 }</p>
            </div>

            <div class="video-item" data-category="meliodas">
<iframe src="https://drive.google.com/file/d/1FuxQb1q6v_lVSZCVbpb38PVgVfr3O5ZS/preview" width="100%" height="200px" allow="fullscreen"></iframe>
                <h3 class="video-item-title">Tsds Season 1</h3>
                <p class="video-item-description">Episode:{ 15 }</p>
            </div>

            <div class="video-item" data-category="meliodas">
<iframe src="https://drive.google.com/file/d/1Fqx1KbT3DU1ev1mU3iO_Ss6QQ6jTnQcW/preview" width="100%" height="200px" allow="fullscreen"></iframe>
                <h3 class="video-item-title">Tsds Season 1</h3>
                <p class="video-item-description">Episode:{ 16 }</p>
            </div>

            <div class="video-item" data-category="meliodas">
<iframe src="https://drive.google.com/file/d/1FiiVkdazSqGzRYKzg0suOCuHu6FWba7j/preview" width="100%" height="200px" allow="fullscreen"></iframe>
                <h3 class="video-item-title">Tsds Season 1</h3>
                <p class="video-item-description">Episode:{ 17 }</p>
            </div>

            <div class="video-item" data-category="meliodas">
<iframe src="https://drive.google.com/file/d/1FjbgBF2GYPZ7ofB9Dt_61n0k6aSe58Sw/preview" width="100%" height="200px" allow="fullscreen"></iframe>
                <h3 class="video-item-title">Tsds Season 1</h3>
                <p class="video-item-description">Episode:{ 18 }</p>
            </div>

            <div class="video-item" data-category="meliodas">
<iframe src="https://drive.google.com/file/d/1FTp9Rs_aktgv8Mofo3jUJkVSr5Ar85Z_/preview" width="100%" height="200px" allow="fullscreen"></iframe>
                <h3 class="video-item-title">Tsds Season 1</h3>
                <p class="video-item-description">Episode:{ 19 }</p>
            </div>

            <div class="video-item" data-category="meliodas">
<iframe src="https://drive.google.com/file/d/1F_qWeMwSBSZWpTOsEg7D9fvtcx3xrd7n/preview" width="100%" height="200px" allow="fullscreen"></iframe>
                <h3 class="video-item-title">Tsds Season 1</h3>
                <p class="video-item-description">Episode:{ 20b}</p>
            </div>

            <div class="video-item" data-category="meliodas">
<iframe src="https://drive.google.com/file/d/1FNEXlZteL2CrxbntgCbjh4sOQPi8-dCw/preview" width="100%" height="200px" allow="fullscreen"></iframe>
                <h3 class="video-item-title">Tsds Season 1</h3>
                <p class="video-item-description">Episode:{ 21 }</p>
            </div>

            <div class="video-item" data-category="meliodas">
<iframe src="https://drive.google.com/file/d/1FRxLb9CLJIn7i6GXL8Gx3TY_Jb4x36Sa/preview" width="100%" height="200px" allow="fullscreen"></iframe>
                <h3 class="video-item-title">Tsds Season 1</h3>
                <p class="video-item-description">Episode:{ 22 }</p>
            </div>

            <div class="video-item" data-category="meliodas">
<iframe src="https://drive.google.com/file/d/1FHYnuBsM0qwB9n4xxf5Xc4n2pcqQvSEs/preview" width="100%" height="200px" allow="fullscreen"></iframe>
                <h3 class="video-item-title">Tsds Season 1</h3>
                <p class="video-item-description">Episode:{ 23 }</p>
            </div>

            <div class="video-item" data-category="meliodas">
<iframe src="https://drive.google.com/file/d/1FA1-D22M9zg4gEnUBfGjkB-2gGRn3GOm/preview" width="100%" height="200px" allow="fullscreen"></iframe>
                <h3 class="video-item-title">Tsds Season 1</h3>
                <p class="video-item-description">Episode:{ 24 }</p>
            </div></section>
<a href="#" id="backToTopBtn" class="back-to-top">⬆️  </a>
</div>

</main>
                            <footer>
        <div class="footer-links">
    <a href="https://www.facebook.com/share/1CQRuBRsAc/" class="nav-button"><i class="fab fa-facebook-f"></i> Facebook</a>
    <a href="https://pin.it/2AbohMfUX" class="nav-button"><i class="fab fa-pinterest-p"></i> Pinterest</a>
    <a href="https://www.instagram.com/elaina.chan09?igsh=MXRraGwwNXVqazF6Yg==" target="_blank" class="nav-button"><i class="fab fa-instagram"></i> Instagram</a>
    <a href="https://www.tiktok.com/@elaina.chan459" class="nav-button"><i class="fab fa-tiktok"></i> Tiktok</a>
    <a href="https://youtube.com/@elainachan09?si=gpZVXnLocXd8eVOu" class="nav-button"><i class="fab fa-youtube"></i> Youtube</a>
    </div>
        <p class="copyright-text">
            &copy; 2025 ZONA ELAINA.
            <br>
            <a href="https://www.instagram.com/elaina.chan09?igsh=MXRraGwwNXVqazF6Yg==" target="_blank"><i class="fab fa-instagram"></i> Instagram</a> |
            <a href="https://t.me/Halo, Saya pakai Telegram untuk chat. Ayo ikutan, unduh di sini: https://telegram.org/dl" target="_blank"><i class="fab fa-telegram-plane"></i> Telegram</a>
        </p>
    </footer>

    <script src="static/js/script.js"></script>
    <script src="static/js/icon.js"></script>
    <script src="static/js/modal.js"></script>
    <script src="static/js/movies.js"></script>
    <script src="static/js/gallery.js"></script>
    </script>
</body>
</html>
