<!DOCTYPE html>
<html lang="id">
<head>
    <meta name="google-site-verification" content="kon0eawmrgEHzvac_Ibvae-6_F6suftewCsfBLeaSrM" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - Elaina Chan</title>
    <link rel="icon" type="image/x-icon" href="static/images/KawaiEl.jpg">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="static/elaina.css">
</head>
<body id="body" class="drak-mode"> <header>
        <div class="header-container">
            <a href="index.html" class="logo"><i class="fas fa-hat-wizard"></i> ZONA ELAINA <i class="fas fa-star"></i></a>
            <nav class="header-nav">
                <ul>
                    <li><a href="index.html" class="{% if request.endpoint == 'home' %}active{% endif %}">Home</a></li>
                    <li><a href="anime.html" class="{% if request.endpoint == 'anime.html' %}active{% endif %}">Anime</a></li>
                    <li><a href="shorts.html" class="{% if request.endpoint == 'shorts.html' %}active{% endif %}">Shorts</a></li>
                    <li><a href="elaina.html" class="{% if request.endpoint == 'elaina.html' %}active{% endif %}">Elaina</a></li>
                    <li><a href="gallery.html" class="{% if request.endpoint == 'gallery.html' %}active{% endif %}">Gallery</a></li>
                    <li><a href="movies.html" class="{% if request.endpoint == 'movies.html' %}active{% endif %}">Movies</a></li>
                    <li><a href="contact.html" class="{% if request.endpoint == 'contact.html' %}active{% endif %}">Contact</a></li>
                </ul>
            </nav>
            <div class="header-actions">
                <button id="darkModeToggle" class="dark-mode-toggle" aria-label="Toggle dark mode">
                    <i class="fa fa-adjust" aria-hidden="true"></i>
                </button>
                <a href="https://wa.me/6285707357830?text=tinggalkan%20pesan" target="_blank" class="whatsapp-button">
                   <i class="fab fa-whatsapp"></i> WhatsApp
                </a>
                <button class="menu-toggle" aria-label="Toggle navigation menu">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
                <div id="imageModal" class="image-modal-overlay">
                 <div class="image-modal-content">
                 <span class="image-close-button">&times;</span>
                 <img class="image-modal-body" id="fullImage" alt="What Hapend">
                 <div class="image-modal-caption" id="imageCaption"></div>
                 <div id="loader" class="loader"></div>
                 <div class="related-images">
                 <a id="modal-link" href="#"><i class="fas fa-share-from-square"></i>Gambar Lainya</a>
                 <div class="related-images-container">
             </div>
          </div>
       </div>
    </header>
<main class="container">

<div class="contact-section">
    <div class="contact-info">
        <h2 class="contact-title">Contact Elaina Chan</h2>
        <p class="contact-description">Jangan ragu untuk menghubungi saya untuk pertanyaan, kritik, atau saran. Saya akan senang mendengar dari Anda!</p>
        <div class="contact-details">
            <p><i class="fas fa-envelope"></i>Email: <a href="mailto:elaina.chan@yahoo.com">elaina.chan@yahoo.com</a></p>
            <p><i class="fas fa-phone"></i> Telepon: 085707357830</p>
            <p><i class="fas fa-map-marker-alt"></i> Jalan Asmara No. 2, Kota Cinta</p>
        </div>
        <div class="social-links">
            <a href="https://www.facebook.com/share/1CQRuBRsAc/"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.tiktok.com/@elaina.chan459"><i class="fab fa-tiktok"></i></a>
            <a href="https://www.instagram.com/elaina.chan09?igsh=MXRraGwwNXV"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
    
    <div class="contact-form-container">
        <form class="contact-form" <form action="https://getform.io/f/bwnynmla" method="post">
            <div class="form-group">
                <label for="name">Nama Lengkap</label>
                <input type="text" id="name" name="name"  required placeholder="Masukkan nama lengkap Anda">
            </div>
            <div class="form-group">
                <label for="email">Alamat Email</label>
                <input type="email" id="email" name="email" required placeholder="Masukkan alamat email Anda">
            </div>
            <div class="form-group">
                <label for="subject">Subjek</label>
                <input type="text" id="subject" name="subject" required placeholder="Masukan Subject Anda">
            </div>
            <div class="form-group">
                <label for="message">Pesan</label>
                <textarea id="message" name="message" required placeholder="Tulis pesan Anda di sini..."></textarea>
            </div>
            <button type="submit" class="submit-button">Kirim Pesan</button>
        </form>
    </div>
</div>
</main>
                            <footer>
        <div class="footer-links">
    <a href="https://www.facebook.com/share/1CQRuBRsAc/" class="nav-button"><i class="fab fa-facebook-f"></i> Facebook</a>
    <a href="https://pin.it/2AbohMfUX" class="nav-button"><i class="fab fa-pinterest-p"></i> Pinterest</a>
    <a href="https://www.instagram.com/elaina.chan09?igsh=MXRraGwwNXVqazF6Yg==" target="_blank" class="nav-button"><i class="fab fa-instagram"></i> Instagram</a>
    <a href="https://www.tiktok.com/@elaina.chan459" class="nav-button"><i class="fab fa-tiktok"></i> Tiktok</a>
    <a href="https://youtube.com/@elainachan09?si=gpZVXnLocXd8eVOu" class="nav-button"><i class="fab fa-youtube"></i> Youtube</a>
    </div>
        <p class="copyright-text">
            &copy; 2025 ZONA ELAINA.
            <br>
            <a href="https://www.instagram.com/elaina.chan09?igsh=MXRraGwwNXVqazF6Yg==" target="_blank"><i class="fab fa-instagram"></i> Instagram</a> |
            <a href="https://t.me/Halo, Saya pakai Telegram untuk chat. Ayo ikutan, unduh di sini: https://telegram.org/dl" target="_blank"><i class="fab fa-telegram-plane"></i> Telegram</a>
        </p>
    </footer>

    <script src="static/js/script.js"></script>
    <script src="static/js/icon.js"></script>
    <script src="static/js/modal.js"></script>
    <script src="static/js/movies.js"></script>
    <script src="static/js/gallery.js"></script>
    </script>
</body>
</html>
