<!DOCTYPE html>
<html lang="id">
<head>
	<meta name="google-site-verification" content="kon0eawmrgEHzvac_Ibvae-6_F6suftewCsfBLeaSrM" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spesial Collection - Elaina Chan</title>
    <link rel="icon" type="image/x-icon" href="static/images/KawaiEl.jpg">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="static/elaina.css">
</head>
<body id="body" class="drak-mode"> <header>
        <div class="header-container">
            <a href="index" class="logo"><i class="fas fa-hat-wizard"></i> ZONA ELAINA <i class="fas fa-star"></i></a>
            <nav class="header-nav">
                <ul>
                    <li><a href="index.html" class="{% if request.endpoint == 'home' %}active{% endif %}">Home</a></li>
                    <li><a href="anime.html" class="{% if request.endpoint == 'anime.html' %}active{% endif %}">Anime</a></li>
                    <li><a href="shorts.html" class="{% if request.endpoint == 'shorts.html' %}active{% endif %}">Shorts</a></li>
                    <li><a href="elaina.html" class="{% if request.endpoint == 'elaina.html' %}active{% endif %}">Elaina</a></li>
                    <li><a href="gallery.html" class="{% if request.endpoint == 'gallery.html' %}active{% endif %}">Gallery</a></li>
                    <li><a href="movies.html" class="{% if request.endpoint == 'movies.html' %}active{% endif %}">Movies</a></li>
                    <li><a href="contact.html" class="{% if request.endpoint == 'contact.html' %}active{% endif %}">Contact</a></li>
                </ul>
            </nav>

            <div class="header-actions">
                <button id="darkModeToggle" class="dark-mode-toggle" aria-label="Toggle dark mode">
                    <i class="fa fa-adjust" aria-hidden="true"></i>
                </button>
                <a href="https://wa.me/6285707357830?text=Tinggalkan%20Pesan" target="_blank" class="whatsapp-button">
                   <i class="fab fa-whatsapp"></i> WhatsApp
                </a>
                <button class="menu-toggle" aria-label="Toggle navigation menu">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
                <div id="imageModal" class="image-modal-overlay">
                 <div class="image-modal-content">
                 <span class="image-close-button">&times;</span>
                 <img class="image-modal-body" id="fullImage" alt="What Hapend">
                 <div class="image-modal-caption" id="imageCaption"></div>
                 <div id="loader" class="loader"></div>
                 <div class="related-images">
                 <a id="modal-link" href="#"><i class="fas fa-share-from-square"></i>Gambar Lainya</a>
                 <div class="related-images-container">
             </div>
          </div>
       </div>
    </header>
<main class="container">

                                <h1 class="videos-title">Elaina's Special Collection</h1>
                                <p class="videos-p">ぜひ見て楽しんでください</p>

<div class="filter-container">
<div class="filter-toggle">
<button id="filter-button">Filter <span class="arrow-down">▼</span></button>
</div>
<div class="filter-dropdown">
    <button class="filter-btn" data-filter="video"><i class="fas fa-crown"></i>Elaina Whitch<i class="fas fa-chevron-circle-right"></i></button>
    <button class="filter-btn" data-filter="manga"><i class="fab fa-sketch"></i>Elaina Manga<i class="fas fa-chevron-circle-right"></i></button>
    <button class="filter-btn" data-filter="hentai"><i class="fab fa-sketch"></i>Elaina Hentai<i class="fas fa-chevron-circle-right"></i></button>
    <button class="filter-btn" data-filter="picture"><i class="fas fa-gem"></i>Elaina Picture<i class="fas fa-chevron-circle-right"></i></button>
    <button class="filter-btn" data-filter="douyin"><i class="fas fa-star"></i>Elaina Douyin<i class="fas fa-chevron-circle-right"></i></button>
    <button class="filter-btn active" data-filter="all"><i class="fa fa-diamond"></i>All <i class="fas fa-chevron-circle-left"></i></button>
</div>
</div>
‎

                                <section class="elaina-videos-section">
                                <h2 class="section-title">The Journey Of Elaina</h2>
    				<div id="elaina" class="elaina-videos-grid">
        <div class="elaina-video-item" data-category="video">
<iframe src="https://drive.google.com/file/d/1Km3igEjxYPDI4LzQD33do9z-sd5pbUH7/preview" width="100%" height="200px" allow="fullscreen"></iframe>
            <h3 class="elaina-title">Wandering Whitch</h3>
            <p class="elaina-p">Episode{ 1 }</p>
        </div>

        <div class="elaina-video-item" data-category="video">
<iframe src="https://drive.google.com/file/d/1RIv7TpYD3L6N7UjMlKMgiE1I3rB1YDXM/preview" width="100%" height="200px" allow="fullscreen"></iframe>
            <h3 class="elaina-title">Wandering Whitch</h3>
            <p class="elaina-p">Episode{ 2 }</p>
        </div>

        <div class="elaina-video-item" data-category="video">
<iframe src="https://drive.google.com/file/d/1Mty6y2Kl6SMyCP5o3OWHYvBRJmy8efkB/preview" width="100%" height="200px" allow="fullscreen"></iframe>
            <h3 class="elaina-title">Wandering Whitch</h3>
            <p class="elaina-p">Episode{ 3 }</p>
        </div>

        <div class="elaina-video-item" data-category="video">
<iframe src="https://drive.google.com/file/d/1N8N7TIj835vVJ7jLjnI6GJ9jOkf_tYRg/preview" width="100%" height="200px" allow="fullscreen"></iframe>
            <h3 class="elaina-title">Wandering Whitch</h3>
            <p class="elaina-p">Episode{ 4 }</p>
	</div>

        <div class="elaina-video-item" data-category="video">
<iframe src="https://drive.google.com/file/d/1NWAkUi-mTuMXtRI7PTHbN0C5hh8IvnvM/preview" width="100%" height="200px" allow="fullscreen"></iframe>
            <h3 class="elaina-title">Wandering Whitch</h3>
            <p class="elaina-p">Episode{ 5 }</p>
        </div>

        <div class="elaina-video-item" data-category="video">
<iframe src="https://drive.google.com/file/d/1NbFmCxK9bJve9iDuuQp3NneHvJK7dWYQ/preview" width="100%" height="200px" allow="fullscreen"></iframe>
            <h3 class="elaina-title">Wandering Whitch</h3>
            <p class="elaina-p">Episode{ 6 }</p>
    </div>

        <div class="elaina-video-item" data-category="video">
<iframe src="https://drive.google.com/file/d/1NcxB57sPToMcjYyNxebrXUMqca485TRN/preview" width="100%" height="200px" allow="fullscreen"></iframe>
            <h3 class="elaina-title">Wandering Whitch</h3>
            <p class="elaina-p">Episode{ 7 }</p>
          </div>

        <div class="elaina-video-item" data-category="video">
<iframe src="https://drive.google.com/file/d/1NhcZy0Ft28trFOkAx7fZ2F_4Hggqys8l/preview" width="100%" height="200px" allow="fullscreen"></iframe>
            <h3 class="elaina-title">Wandering Whitch</h3>
            <p class="elaina-p">Episode{ 8 }</p>
          </div>

        <div class="elaina-video-item" data-category="video">
<iframe src="https://drive.google.com/file/d/1N4bcvb8I44yNRGRj4AEgKku5OJNqllcB/preview" width="100%" height="200px" allow="fullscreen"></iframe>
            <h3 class="elaina-title">Wandering Whitch</h3>
            <p class="elaina-p">Episode{ 9 }</p>
          </div>

        <div class="elaina-video-item" data-category="video">
<iframe src="https://drive.google.com/file/d/1KmCBvqzkO2hLR14xSSR0rX6LyG4zTw9F/preview" width="100%" height="200px" allow="fullscreen"></iframe>
            <h3 class="elaina-title">Wandering Whitch</h3>
            <p class="elaina-p">Episode{ 10 }</p>
          </div>

        <div class="elaina-video-item" data-category="video">
<iframe src="https://drive.google.com/file/d/1MkhwVGKeXVJIfLBGiZmglrSpCzbmYHlQ/preview" width="100%" height="200px" allow="fullscreen"></iframe>
            <h3 class="elaina-title">Wandering Whitch</h3>
            <p class="elaina-p">Episode{ 11 }</p>
          </div>

        <div class="elaina-video-item" data-category="video">
<iframe src="https://drive.google.com/file/d/1MZrPWTnd37a5W6rT8v1guARdp3nNNhmZ/preview" width="100%" height="200px" allow="fullscreen"></iframe>
            <h3 class="elaina-title">Wandering Whitch</h3>
            <p class="elaina-p">Episode{ 12 }</p>
          </div>
	</section>

			<section class="elaina-videos-section">
                <h2 class="section-title">Collection's Hentai Elaina Chan</h2>
			    <div id="hentai" class="elaina-videos-grid">
        <div class="elaina-video-item" data-category="hentai">
<iframe src="https://drive.google.com/file/d/1MrB0I8cCrNrF7P74bOM-wsaomc3mJZsr/preview" width="100%" height="200px" allow="fullscreen"></iframe>
            <h3 class="elaina-title">Hentai Whitch</h3>
            <p class="elaina-p">Coly Gang</p>
        </div>

        <div class="elaina-video-item" data-category="hentai">
<iframe src="https://drive.google.com/file/d/1RBDljpSgMnFlvT9lVEbPBnTHK2pgDAFC/preview" width="100%" height="200px" allow="fullscreen"></iframe>
            <h3 class="elaina-title">pencari kenikmatan</h3>
            <p class="elaina-p">Coly Gang</p>
        </div>

        <div class="elaina-video-item" data-category="hentai">
<iframe src="https://drive.google.com/file/d/1RIgaelB3-t9eRF0fDxAqgedzdGME7rER/preview" width="100%" height="200px" allow="fullscreen"></iframe>
            <h3 class="elaina-title">Siapkan Sabun</h3>
            <p class="elaina-p">Coly Gang</p>
        </div>


            <div id="videos" class="elaina-video-item" data-category="hentai">
<iframe src="https://drive.google.com/file/d/1RErH1kjcjqS_hQ_uUvxt2fABVHUzoubT/preview" width="100%" height="200px" allow="fullscreen"></iframe>
            <h3 class="elaina-title">Hentai Moms</h3>
            <p class="elaina-p">Coly Gang</p>
        </div>

        <div class="elaina-video-item" data-category="hentai">
<iframe src="https://drive.google.com/file/d/1RBc6CM_Lih3cyDr_ulloa_8z-m9lSB4g/preview" width="100%" height="200px" allow="fullscreen"></iframe>
            <h3 class="elaina-title">Hentai Moms</h3>
            <p class="elaina-p">Coly Gang</p>
        </div>
	</section>

    				<section class="elaina-image-section">
                        <h2 class="section-title">Gallery MyWife Elaina Chan</h2>
     				   <div id="elaina18+" class="elaina-image-grid">

           <div class="elaina-item-img" data-category="picture">
            <img src="https://www.dropbox.com/scl/fi/uvlvse4zzpmyn5nf16m5z/SayangkuElaina.jpg?rlkey=vffuioys138603ywn1fv7kby9&st=xuvyguhk&dl=1" alt="Oh My Uh Ah" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>

           <div class="elaina-item-img" data-category="picture">
            <img src="https://www.dropbox.com/scl/fi/ymhjytvzex5vvp74tc6kp/mywife8.jpg?rlkey=lbs4fwutb1ayxjrfs3g8jmmkl&st=jij3nxgr&dl=1" alt="Oh My Uh Ah" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>

           <div class="elaina-item-img" data-category="picture">
            <img src="https://www.dropbox.com/scl/fi/uc1cjpcdg6tlqeve73wfi/mywife.jpg?rlkey=kdmkwn0rwh343d99d9ju04j78&st=6m0f2yif&dl=1" alt="Oh My Uh Ah" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>

           <div class="elaina-item-img" data-category="picture">
            <img src="https://www.dropbox.com/scl/fi/6wzeezf1zlm137b2ters9/mywife1.jpg?rlkey=ppiwz0ji3m0y11fw5havq2qhx&st=cq59z1f1&dl=1" alt="Oh My Uh Ah" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>

           <div class="elaina-item-img" data-category="picture">
            <img src="https://www.dropbox.com/scl/fi/huhggx4hv74dz46fjm7vd/mywife2.jpg?rlkey=9uzzgh8z06kqk2w5sq4ndo321&st=joairk4m&dl=1" alt="Oh My Uh Ah" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>

           <div class="elaina-item-img" data-category="picture">
            <img src="https://www.dropbox.com/scl/fi/6xdd5tltm6kbtq296dupu/mywife3.jpg?rlkey=3ygnjpqeb5embphk885egyj8x&st=wli8sepi&dl=1" alt="Oh My Uh Ah" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>

           <div class="elaina-item-img" data-category="picture">
            <img src="https://www.dropbox.com/scl/fi/sbo0baeeqmti2g7ozq83w/mywife4.jpg?rlkey=yz506wi7m6eem3o3kber6i87v&st=cqx3xb3b&dl=4" alt="Oh My Uh Ah" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>

           <div class="elaina-item-img" data-category="picture">
            <img src="https://www.dropbox.com/scl/fi/7x2n4zenpje903kqxhgz4/mywife5.jpg?rlkey=nn3us5ciid7g8gtjis0anty0e&st=kau89hou&dl=1" alt="Oh My Uh Ah" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>

           <div class="elaina-item-img" data-category="picture">
            <img src="https://www.dropbox.com/scl/fi/n1bby3c77jhjqbaxea52i/mywife6.jpg?rlkey=kr2veo33omlwod5ecsw9jl67u&st=2rvlwnqg&dl=1" alt="Oh My Uh Ah" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>

           <div class="elaina-item-img" data-category="picture">
            <img src="https://www.dropbox.com/scl/fi/m5pgi5u5v5cyog62okb2e/mywife7.jpg?rlkey=ot0mfytw2l0z65gqf2yeo7ad7&st=0v6rt1l6&dl=1" alt="Oh My Uh Ah" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>

           <div class="elaina-item-img" data-category="picture">
            <img src="https://www.dropbox.com/scl/fi/ijf7wmup49c7lba18lhxu/mywife9.jpg?rlkey=tiny3qtzf5s2cq11c2349z2bu&st=6hab7b73&dl=1" alt="Oh My Uh Ah" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>

           <div class="elaina-item-img" data-category="picture">
            <img src="https://www.dropbox.com/scl/fi/2xeg278aslxzok9yl7ifo/mywife10.jpg?rlkey=sgl9ou7n77xv5rsi7okye5suq&st=zfg106wv&dl=1" alt="Oh My Uh Ah" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>

           <div class="elaina-item-img" data-category="picture">
            <img src="https://www.dropbox.com/scl/fi/akbpv0cpbam8ndzuuy30v/mywife11.jpg?rlkey=xz2yuk9dfoydqnjz70qt9lbt3&st=oxrtz4fz&dl=1" alt="Oh My Uh Ah" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>

           <div class="elaina-item-img" data-category="picture">
            <img src="https://www.dropbox.com/scl/fi/mgxwwabdrfigxfnofmv3e/mywife12.jpg?rlkey=plr25n3hn4sop8ubzcfsw227n&st=9aqdag4t&dl=1" alt="Oh My Uh Ah" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>

           <div class="elaina-item-img" data-category="picture">
            <img src="https://www.dropbox.com/scl/fi/kom0xxs42410hccxgnpai/mywife13.jpg?rlkey=n0nu77f3umxouv3s4uwptuqh5&st=jsxtmxpz&dl=1" alt="Oh My Uh Ah" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>

           <div class="elaina-item-img" data-category="picture">
            <img src="https://www.dropbox.com/scl/fi/07lbuafi7cmnyhxq9ezoe/mywife14.jpg?rlkey=rdedg8hre9n3y2lqhgo41371j&st=nh9noadw&dl=1" alt="Oh My Uh Ah" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>

           <div class="elaina-item-img" data-category="picture">
            <img src="https://www.dropbox.com/scl/fi/b3uinrdtelhu7luv03yae/mywife15.jpg?rlkey=ih1d406qn43glb2bw6har0dfa&st=adrweakg&dl=1" alt="Oh My Uh Ah" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>

	   <div class="elaina-item-img" data-category="picture">
            <img src="https://www.dropbox.com/scl/fi/gcbsd8727v1qdy3rm9ypg/hentai1.webp?rlkey=9xvtc7qqhm8ouz2i9kgnq6c8g&st=mytbdi75&dl=1" alt="You Want Me" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
	</div>
           <div class="elaina-item-img" data-category="picture">
            <img src="https://www.dropbox.com/scl/fi/50eq2ee0j8po5r6aiwgdu/hentai2.webp?rlkey=uw92sazptsu2nu66k4nmb6ka1&st=k0j32i9n&dl=1" alt="Siap Melayani" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
        </div>
           <div class="elaina-item-img" data-category="picture">
            <img src="https://www.dropbox.com/scl/fi/3v75nho2dwbyhhn50m7si/hentai3.webp?rlkey=t9i1v3ofi8197d2x5rztzcuy7&st=kflamg6z&dl=1" alt="Menggoda" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
        </div>
           <div class="elaina-item-img" data-category="picture">
            <img src="https://www.dropbox.com/scl/fi/2rkreryixflyuaqt2iod9/hentai4.webp?rlkey=ztbqslpgzq2vn3svh519fevi2&st=p5u7wytp&dl=1" alt="Cintaku" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
        </div>
           <div class="elaina-item-img" data-category="picture">
            <img src="https://www.dropbox.com/scl/fi/2np52vwdod2qyyxr8vel3/hentai5.webp?rlkey=d4xvyv5yu7q4uwyulvcw0wva5&st=jwp9t8s5&dl=1" alt="Please Fuck Me" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
        </div>
           <div class="elaina-item-img" data-category="picture">
            <img src="https://www.dropbox.com/scl/fi/5xhud7ndn7pif9xi8oq9p/hentai6.webp?rlkey=9cxyhsn1tsi7crgwy85qz7qpj&st=8ifwyrd2&dl=1" alt="Ilove You Elaina Chan" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
        </div>
           <div class="elaina-item-img" data-category="picture">
            <img src="https://www.dropbox.com/scl/fi/2u0mxji3hgyyc4f7czq2z/hentai18.webp?rlkey=w18bzbgw7w6jz5ey5unyoqrph&st=3dyc5zlu&dl=1" alt="Nyoh Bokong" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
        </div>
           <div class="elaina-item-img" data-category="picture">
            <img src="https://www.dropbox.com/scl/fi/psapfxt6ug0sv6fzhwusz/hentai7.webp?rlkey=mklr6xf30y3a3k0u2o08gp9dk&st=sajbvfi1&dl=1" alt="Terlanjur Cinta" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
        </div>
           <div class="elaina-item-img" data-category="picture">
            <img src="https://www.dropbox.com/scl/fi/qocphauazvdc6swam9zhh/hentai8.webp?rlkey=ineu50wjv3iqzgmczcp3oefus&st=yiq1hcit&dl=1" alt="Ilove You Elaina Chan" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
        </div>
           <div class="elaina-item-img" data-category="picture">
            <img src="https://www.dropbox.com/scl/fi/6d5763ksajr61g461zff7/hentai9.webp?rlkey=k1pqcwqbhaudj2vvxldzupvr3&st=x0n841qc&dl=1" alt="Ilove You Elaina Chan" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
        </div>
           <div class="elaina-item-img" data-category="picture">
            <img src="https://www.dropbox.com/scl/fi/gyvr0a2shb0slex32g9i8/hentai10.webp?rlkey=h3dkvs9nugxjrkbpglglu0f6j&st=y3f333g6&dl=1" alt="Ilove You Elaina Chan" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
        </div>
           <div class="elaina-item-img" data-category="picture">
            <img src="https://www.dropbox.com/scl/fi/qcobdw9odj03znpcgv28i/hentai11.webp?rlkey=s4dp4s8js0e7eh5xf2xd1acp9&st=52ynr58t&dl=1" alt="Ilove You Elaina Chan" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
        </div>
           <div class="elaina-item-img" data-category="picture">
            <img src="https://www.dropbox.com/scl/fi/hf4llfp2e0gfuonhmy8q8/hentai12.webp?rlkey=jp6lurmgc30ao3au8mz17k2o9&st=qvjiwvsf&dl=1" alt="Entod Aku Keii" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
        </div>
           <div class="elaina-item-img" data-category="picture">
            <img src="https://www.dropbox.com/scl/fi/x8cin21k7e1np43fk9k0n/hentai13.webp?rlkey=tn6hr7b81o0894nbm4gxod44v&st=ut3jift3&dl=1" alt="Ilove You Elaina Chan" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
        </div>
           <div class="elaina-item-img" data-category="picture">
            <img src="https://www.dropbox.com/scl/fi/8mlkzsm0jfayqq8ks4wha/hentai14.webp?rlkey=g3x5y5gug8abwhbutc7xn3fkf&st=iasnhht9&dl=1" alt="Ilove You Elaina Chan" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
        </div>
           <div class="elaina-item-img" data-category="picture">
            <img src="https://www.dropbox.com/scl/fi/i5cb4s1vmm5lpfo66airt/hentai15.webp?rlkey=omlcel2fbwxaewbnsjoszi4g6&st=qvfbge89&dl=1" alt="Ilove You Elaina Chan" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
        </div>
           <div class="elaina-item-img" data-category="picture">
            <img src="https://www.dropbox.com/scl/fi/dvcttaxdnm9ma986x9m90/hentai16.webp?rlkey=7ey03rmtroccvbddvq9u6xofp&st=uyxfnj8u&dl=1" alt="Ilove You Elaina Chan" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
        </div>
           <div class="elaina-item-img" data-category="picture">
            <img src="https://www.dropbox.com/scl/fi/6ixqzjykpozz5vm781bke/hentai17.webp?rlkey=pn7a1qb570zcaheavve31sy36&st=c4s0tffe&dl=1" alt="Ilove You Elaina Chan" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
        </div>
           <div class="elaina-item-img" data-category="picture">
            <img src="https://www.dropbox.com/scl/fi/285x62l2wnlz59s2tshug/hentai19.webp?rlkey=qicv77ieqpky42z2klt0z3dfs&st=f2cpmh84&dl=1" alt="Ilove You Elaina Chan" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
        </div>
           <div class="elaina-item-img" data-category="picture">
            <img src="https://www.dropbox.com/scl/fi/48ttbtzck1eb9fg5u0jao/hentai20.webp?rlkey=dxxn8npiyaembhd9n6besr707&st=z4xlljd9&dl=1" alt="Ilove You Elaina Chan" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span></div>

	</section>

                                    <section class="elaina-image-section">
                                <h2 class="section-title">Manga  Elaina Chan</h2>
		              <div id="manga" class="elaina-image-grid">
          <div class="elaina-item-img" data-category="manga">
            <img src="static/elaina.pc/manga/manga.jpeg" alt="" class="elaina-image" data-full="static/elaina.pc/001.jpg" data-link="gallery#moe">
            <span class="heart-icon"><i class="fas fa-heart"></i></span></div>

           <div class="elaina-item-img" data-category="manga">
            <img src="static/elaina.pc/manga/manga1.jpeg" alt="" class="elaina-image" data-full="static/elaina.pc/elaina0.jpg" data-link="gallery#casual">
            <span class="heart-icon"><i class="fas fa-heart"></i></span></div>


           <div class="elaina-item-img" data-category="manga">
            <img src="static/elaina.pc/manga/manga2.jpeg" alt="" class="elaina-image" data-full="static/elaina.pc/elaina1.jpg" data-link="gallery#casual">
            <span class="heart-icon"><i class="fas fa-heart"></i></span></div>

           <div class="elaina-item-img" data-category="manga">
            <img src="static/elaina.pc/manga/manga3.jpeg" alt="" class="elaina-image" data-full="static/elaina.pc/onichan1.jpg" data-link="gallery#moe">
            <span class="heart-icon"><i class="fas fa-heart"></i></span></div>

           <div class="elaina-item-img" data-category="manga">
            <img src="static/elaina.pc/manga/manga4.jpeg" alt="" class="elaina-image" data-full="static/elaina.pc/001.jpg" data-link="gallery#moe">
            <span class="heart-icon"><i class="fas fa-heart"></i></span></div>

           <div class="elaina-item-img" data-category="manga">
            <img src="static/elaina.pc/manga/manga5.jpeg" alt="" class="elaina-image" data-full="static/elaina.pc/onichan1.jpg" data-link="gallery#casual">
            <span class="heart-icon"><i class="fas fa-heart"></i></span></div>

           <div class="elaina-item-img" data-category="manga">
            <img src="static/elaina.pc/manga/manga6.jpeg" alt="" class="elaina-image" data-full="static/elaina.pc/onichan0.jpg" data-link="gallery#casual">
            <span class="heart-icon"><i class="fas fa-heart"></i></span></div>

           <div class="elaina-item-img" data-category="manga">
            <img src="static/elaina.pc/manga/manga7.jpeg" alt="" class="elaina-image" data-full="static/elaina.pc/001.jpg" data-link="gallery#moe">
            <span class="heart-icon"><i class="fas fa-heart"></i></span></div>

           <div class="elaina-item-img" data-category="manga">
            <img src="static/elaina.pc/manga/manga8.jpeg" alt="" class="elaina-image" data-full="static/elaina.pc/001.jpg" data-link="gallery#moe">
            <span class="heart-icon"><i class="fas fa-heart"></i></span></div>

           <div class="elaina-item-img" data-category="manga">
            <img src="static/elaina.pc/manga/manga9.jpeg" alt="" class="elaina-image" data-full="static/elaina.pc/001.jpg" data-link="gallery">
            <span class="heart-icon"><i class="fas fa-heart"></i></span></div>

           <div class="elaina-item-img" data-category="manga">
            <img src="static/elaina.pc/manga/manga10.jpeg" alt="" class="elaina-image" data-full="static/elaina.pc/001.jpg" data-link="gallery#elaina">
            <span class="heart-icon"><i class="fas fa-heart"></i></span></div>

           <div class="elaina-item-img" data-category="manga">
            <img src="static/elaina.pc/manga/manga11.jpeg" alt="" class="elaina-image" data-full="static/elaina.pc/001.jpg" data-link="gallery">
            <span class="heart-icon"><i class="fas fa-heart"></i></span></div>

           <div class="elaina-item-img" data-category="manga">
            <img src="static/elaina.pc/manga/manga12.jpeg" alt="" class="elaina-image" data-full="static/elaina.pc/001.jpg" data-link="gallery#moe">
            <span class="heart-icon"><i class="fas fa-heart"></i></span></div>

           <div class="elaina-item-img" data-category="manga">
            <img src="static/elaina.pc/manga/manga13.jpeg" alt="" class="elaina-image" data-full="static/elaina.pc/onichan1.jpg" data-link="gallery#casual">
            <span class="heart-icon"><i class="fas fa-heart"></i></span></div>

           <div class="elaina-item-img" data-category="manga">
            <img src="static/elaina.pc/manga/manga14.jpeg" alt="" class="elaina-image" data-full="static/elaina.pc/001.jpg" data-link="gallery#moe">
            <span class="heart-icon"><i class="fas fa-heart"></i></span></div>

           <div class="elaina-item-img" data-category="manga">
            <img src="static/elaina.pc/manga/manga15.jpeg" alt="" class="elaina-image" data-full="static/elaina.pc/001.jpg" data-link="gallery#moe">
            <span class="heart-icon"><i class="fas fa-heart"></i></span></div>

           <div class="elaina-item-img" data-category="manga">
            <img src="static/elaina.pc/manga/manga16.jpeg" alt="" class="elaina-image" data-full="static/elaina.pc/001.jpg" data-link="gallery#moe">
            <span class="heart-icon"><i class="fas fa-heart"></i></span></div>

           <div class="elaina-item-img" data-category="manga">
            <img src="static/elaina.pc/manga/manga17.jpeg" alt="" class="elaina-image" data-full="static/elaina.pc/001.jpg" data-link="gallery#moe">
            <span class="heart-icon"><i class="fas fa-heart"></i></span></div>

           <div class="elaina-item-img" data-category="manga">
            <img src="static/elaina.pc/manga/manga18.jpeg" alt="" class="elaina-image" data-full="static/elaina.pc/001.jpg" data-link="gallery#casual">
            <span class="heart-icon"><i class="fas fa-heart"></i></span></div>

           <div class="elaina-item-img" data-category="manga">
            <img src="static/elaina.pc/manga/manga19.jpeg" alt="" class="elaina-image" data-full="static/elaina.pc/001.jpg" data-link="gallery#elaina">
            <span class="heart-icon"><i class="fas fa-heart"></i></span></div>

           <div class="elaina-item-img" data-category="manga">
            <img src="static/elaina.pc/manga/manga20.jpeg" alt="" class="elaina-image" data-full="static/elaina.pc/001.jpg" data-link="gallery#elaina">
            <span class="heart-icon"><i class="fas fa-heart"></i></span></div>

           <div class="elaina-item-img" data-category="manga">
            <img src="static/elaina.pc/manga/manga21.jpeg" alt="" class="elaina-image" data-full="static/elaina.pc/001.jpg" data-link="gallery#casual">
            <span class="heart-icon"><i class="fas fa-heart"></i></span></div>

           <div class="elaina-item-img" data-category="manga">
            <img src="static/elaina.pc/manga/manga22.jpeg" alt="" class="elaina-image" data-full="static/elaina.pc/001.jpg" data-link="gallery#elaina">
            <span class="heart-icon"><i class="fas fa-heart"></i></span></div>

           <div class="elaina-item-img" data-category="manga">
            <img src="static/elaina.pc/manga/manga23.jpeg" alt="" class="elaina-image" data-full="static/elaina.pc/001.jpg" data-link="gallery#elaina">
            <span class="heart-icon"><i class="fas fa-heart"></i></span></div>

	</div></section>
            


				    <section class="elaina-image-section">
                                <h2 class="section-title">Douyin  Elaina Chan</h2>
     					<div id="douyin" class="elaina-image-grid">

           <div class="elaina-item-img" data-category="douyin">
            <img src="https://www.dropbox.com/scl/fi/bglx09ungyjgd22ytfsl6/01_001.webp?rlkey=ztbx1mgtjv0h1ahzj0wer34dj&st=r0ntdcgu&dl=1" alt="Cerita 1" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
        </div>

           <div class="elaina-item-img" data-category="douyin">
            <img src="https://www.dropbox.com/scl/fi/g87yz00g6dtrway8ivcdh/02_002.webp?rlkey=oisr3py9be3gyu1tmro5or4nu&st=8smxne20&dl=1" alt="Cerita 2" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
        </div>

           <div class="elaina-item-img" data-category="douyin">
            <img src="https://www.dropbox.com/scl/fi/jvhp25sqooc90xl098h26/03_003.webp?rlkey=szyehjvki3r3cgbel26ry5tpu&st=01w38gxy&dl=1" alt="Cerita 3" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
        </div>

           <div class="elaina-item-img" data-category="douyin">
            <img src="https://www.dropbox.com/scl/fi/ux7qau88yvlgmbvgq589g/04_004.webp?rlkey=em9jjqh9bvrjvraxzewtezu2r&st=i1i2suh5&dl=1" alt="Cerita 4" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
        </div>

           <div class="elaina-item-img" data-category="douyin">
            <img src="https://www.dropbox.com/scl/fi/2i9n1om1kx1rppxsyy42g/05_005.webp?rlkey=c4rr11htguja151qpwbacptcp&st=q413o2aj&dl=1" alt="Cerita 5" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
        </div>

           <div class="elaina-item-img" data-category="douyin">
            <img src="https://www.dropbox.com/scl/fi/3hkg8f2nvrbx9ggobocaa/06_006.webp?rlkey=lru5ocuwagxh0farryjwtksze&st=kxl2axuf&dl=1" alt="Cerita 6" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
        </div>

           <div class="elaina-item-img" data-category="douyin">
            <img src="https://www.dropbox.com/scl/fi/4eqo0yk2i936btqtd2gze/07_007.webp?rlkey=0slkyx3bui5aw4s6vic79gmk8&st=kfsjcio1&dl=1" alt="Cerita 7" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
        </div>

           <div class="elaina-item-img" data-category="douyin">
            <img src="https://www.dropbox.com/scl/fi/hg9zcyocts4n0k2piiogx/08_008.webp?rlkey=nmqakpn0wzqlxibx44ybpczte&st=autz1fhq&dl=1" alt="Cerita 8" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
        </div>

           <div class="elaina-item-img" data-category="douyin">
            <img src="https://www.dropbox.com/scl/fi/l5p6qn757u8ft9cqvzd8r/09_009.webp?rlkey=00u01gazqu6mfhr5nvumc9vgd&st=lnv5gosu&dl=1" alt="Cerita 9" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
        </div>

           <div class="elaina-item-img" data-category="douyin">
            <img src="https://www.dropbox.com/scl/fi/2fr4o9tpmsx3yeizkkcet/10_010.webp?rlkey=ilob4589mkt4y017bmsd95qy0&st=4cs27u9p&dl=1" alt="Cerita 10" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
        </div>

           <div class="elaina-item-img" data-category="douyin">
            <img src="https://www.dropbox.com/scl/fi/tdmx8fk2dlmt8ic1g0ddx/11_011.webp?rlkey=yd2320dekk0syf2z91p5uaj94&st=sben4peq&dl=1" alt="Cerita 11" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
        </div>

           <div class="elaina-item-img" data-category="douyin">
            <img src="https://www.dropbox.com/scl/fi/pedcjiixf35qt8efxcorr/12_012.webp?rlkey=skqxdfoxdbiblnx6feu257ivw&st=5o87xdbn&dl=1" alt="Cerita 12" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
        </div>

           <div class="elaina-item-img" data-category="douyin">
            <img src="https://www.dropbox.com/scl/fi/ev1f47nyfjav3qj7zmjmb/13_013.webp?rlkey=hi8sh98c1rx4b6lqkci25mw3f&st=njsd5xq6&dl=1" alt="Cerita 13" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
        </div>

           <div class="elaina-item-img" data-category="douyin">
            <img src="https://www.dropbox.com/scl/fi/kg81xzer3pp41j9sylyts/14_014.webp?rlkey=c2pn57l9kdt5gp6ma9znvdumf&st=z80pl2tz&dl=1" alt="Cerita 14" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
        </div>

           <div class="elaina-item-img" data-category="douyin">
            <img src="https://www.dropbox.com/scl/fi/je23vdd2gb1cicroogyso/15_015.webp?rlkey=bp2i723tzie2zbmgdxt5wztjo&st=s1spsot6&dl=1" alt="Cerita 15" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
        </div>

           <div class="elaina-item-img" data-category="douyin">
            <img src="https://www.dropbox.com/scl/fi/uv04a7gllrrn4fgikzjcv/16_016.webp?rlkey=aoibtzxryshfvkg2he7imdpvf&st=rq4cham5&dl=1" alt="Cerita 16" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
        </div>

           <div class="elaina-item-img" data-category="douyin">
            <img src="https://www.dropbox.com/scl/fi/2keyp4ikztykzxkb6pyuj/17_017.webp?rlkey=y2ity27y2fmt8sk0m0770dk2a&st=yc117ixb&dl=1" alt="Cerita 17" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
        </div>

           <div class="elaina-item-img" data-category="douyin">
            <img src="https://www.dropbox.com/scl/fi/ik0tpk77ldhmpkrlp8uzv/18_018.webp?rlkey=9z5c8do1cc3gkedbklx8jeawg&st=gzjn44qw&dl=1" alt="Cerita 18" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
        </div>

           <div class="elaina-item-img" data-category="douyin">
            <img src="https://www.dropbox.com/scl/fi/bi6cgy4ulr43a1vvunkdi/19_019.webp?rlkey=7awic9ul5rwu07p1i19eqvu0o&st=4l9c0m29&dl=1" alt="Cerita 19" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
        </div>

           <div class="elaina-item-img" data-category="douyin">
            <img src="https://www.dropbox.com/scl/fi/qq8m1fv3imtwmstcnvr71/20_020.webp?rlkey=1uahejhe9za1ric5yibt3ub51&st=qw7u0x00&dl=1" alt="Cerita 20" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
        </div>

           <div class="elaina-item-img" data-category="douyin">
            <img src="https://www.dropbox.com/scl/fi/4bv1l899hvqfqe2wki5o3/21_021.webp?rlkey=pgkngldcjoaqoucuu4q4lw7bn&st=yn8r8s93&dl=1" alt="Cerita 21" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
        </div>

           <div class="elaina-item-img" data-category="douyin">
            <img src="https://www.dropbox.com/scl/fi/2bt4s2t4dao0slurnefu0/22_022.webp?rlkey=qvoeigwhfwudn35zyilt6z9fu&st=61ty1iuk&dl=1" alt="Cerita 22" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
        </div>

           <div class="elaina-item-img" data-category="douyin">
            <img src="https://www.dropbox.com/scl/fi/6q99jrc5zrgv4lffxaw77/23_023.webp?rlkey=kkjzmzdudfz9dmnqlz2ni72d5&st=b6i7i3uj&dl=1" alt="Cerita 23" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
        </div>
    
           <div class="elaina-item-img" data-category="douyin">
            <img src="https://www.dropbox.com/scl/fi/d2vbr99u6kkgs4b3hltml/24_024.webp?rlkey=resb59ynnjvdb5hekroi6wv4f&st=38vggrc0&dl=1" alt="Cerita 24" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
        </div>

           <div class="elaina-item-img" data-category="douyin">
            <img src="https://www.dropbox.com/scl/fi/t21hqfd7ikhsxuqpvdciw/25_025.webp?rlkey=i56zllf000qm1rq0i3zviz9p0&st=yyxem7by&dl=1" alt="Cerita 25" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
        </div>

           <div class="elaina-item-img" data-category="douyin">
            <img src="https://www.dropbox.com/scl/fi/c9ze9lyumak0ymtj6tite/26_026.webp?rlkey=bxvp4dv9bjro0m62yozoid33c&st=ivhdgr6d&dl=1" alt="Cerita 26" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
        </div>

           <div class="elaina-item-img" data-category="douyin">
            <img src="https://www.dropbox.com/scl/fi/22qeis1m0plu83bwivluy/27_027.webp?rlkey=eklh6w5dfwk11csazgeh36gco&st=f8uuepix&dl=1" alt="Cerita 27" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
        </div>

           <div class="elaina-item-img" data-category="douyin">
            <img src="https://www.dropbox.com/scl/fi/iwv6hu13r5znioml8u9am/28_028.webp?rlkey=pyxc3ulcqmp8pzdsrjelczdaf&st=w4hn39wc&dl=1" alt="Cerita 28" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
        </div>

           <div class="elaina-item-img" data-category="douyin">
            <img src="https://www.dropbox.com/scl/fi/vfxk19k8dbw47gf31syyn/29_029.webp?rlkey=1yq5glmie6jpqtv2wfl6dh190&st=40405u6k&dl=1" alt="Cerita 29" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
        </div>

           <div class="elaina-item-img" data-category="douyin">
            <img src="https://www.dropbox.com/scl/fi/eyk9qheiubbk8wt4t8h1j/30_030.webp?rlkey=dxso7dqc9tm2o3sv8ls5dyfro&st=mbwt03zg&dl=1" alt="Cerita 30" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
        </div>

           <div class="elaina-item-img" data-category="douyin">
            <img src="https://www.dropbox.com/scl/fi/6g5ln9rhbhmkpeyfa80h2/31_031.webp?rlkey=liv9l43jb85l6oedjkihvrwxq&st=y9795bew&dl=1" alt="Cerita 31" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
        </div>

           <div class="elaina-item-img" data-category="douyin">
            <img src="https://www.dropbox.com/scl/fi/gjzptx0ivs2ujhmrybukd/32_032.webp?rlkey=vm7h2j4ne13m0lgqu8ce1ynt6&st=vd11zkte&dl=1" alt="Cerita 32" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
        </div>
           <div class="elaina-item-img" data-category="douyin">
            <img src="https://www.dropbox.com/scl/fi/5gg1tsb5dgoovs5kvl0vy/33_033.webp?rlkey=dajyqvinq52plvy8qtglckmhy&st=y7vzdq0p&dl=1" alt="End" class="elaina-image">
            <span class="heart-icon"><i class="fas fa-heart"></i></span>
        </div></section>

<div class="filter-buttons">
<a href="#" id="backToTopBtn" class="back-to-top">⬆️  </a></div>

</main>
                            <footer>
        <div class="footer-links">
    <a href="https://www.facebook.com/share/1CQRuBRsAc/" class="nav-button"><i class="fab fa-facebook-f"></i> Facebook</a>
    <a href="https://pin.it/2AbohMfUX" class="nav-button"><i class="fab fa-pinterest-p"></i> Pinterest</a>
    <a href="https://www.instagram.com/elaina.chan09?igsh=MXRraGwwNXVqazF6Yg==" target="_blank" class="nav-button"><i class="fab fa-instagram"></i> Instagram</a>
    <a href="https://www.tiktok.com/@elaina.chan459" class="nav-button"><i class="fab fa-tiktok"></i> Tiktok</a>
    <a href="https://youtube.com/@elainachan09?si=gpZVXnLocXd8eVOu" class="nav-button"><i class="fab fa-youtube"></i> Youtube</a>
    </div>

        <p class="copyright-text">
            &copy; 2025 ZONA ELAINA.
            <br>
            <a href="https://www.instagram.com/elaina.chan09?igsh=MXRraGwwNXVqazF6Yg==" target="_blank"><i class="fab fa-instagram"></i> Instagram</a> |
            <a href="https://t.me/Halo, Saya pakai Telegram untuk chat. Ayo ikutan, unduh di sini: https://telegram.org/dl" target="_blank"><i class="fab fa-telegram-plane"></i> Telegram</a>
        </p>
    </footer>

    <script src="static/js/script.js"></script>
    <script src="static/js/icon.js"></script>
    <script src="static/js/modal.js"></script>
    <script src="static/js/movies.js"></script>
    </script>
</body>
</html>
