{% extends 'base.html' %} {# WAJIB: Mewarisi dari base.html #}

{% block title %}Video Hentai Collection - Elaina Chan{% endblock %} 

{% block content %} 
			<section class="elaina-videos-section">
                <h2 class="section-title">Collection's Hentai Elaina Chan</h2>
			    <div id="hentai" class="elaina-videos-grid">
        <div class="elaina-video-item" data-category="hentai">
<iframe src="https://drive.google.com/file/d/1MrB0I8cCrNrF7P74bOM-wsaomc3mJZsr/preview" width="100%" height="200px" allow="fullscreen"></iframe>
            <h3 class="elaina-title">Hentai Whitch</h3>
            <p class="elaina-p">Coly Gang</p>
        </div>

        <div class="elaina-video-item" data-category="hentai">
<iframe src="https://drive.google.com/file/d/1RBDljpSgMnFlvT9lVEbPBnTHK2pgDAFC/preview" width="100%" height="200px" allow="fullscreen"></iframe>
            <h3 class="elaina-title">Pencari Kenikmatan</h3>
            <p class="elaina-p">Coly Gang</p>
        </div>

        <div class="elaina-video-item" data-category="hentai">
<iframe src="https://drive.google.com/file/d/1RIgaelB3-t9eRF0fDxAqgedzdGME7rER/preview" width="100%" height="200px" allow="fullscreen"></iframe>
            <h3 class="elaina-title">Siapkan Sabun</h3>
            <p class="elaina-p">Coly Gang</p>
        </div>

        <div  class="elaina-video-item" data-category="hentai">
<iframe src="https://drive.google.com/file/d/1RErH1kjcjqS_hQ_uUvxt2fABVHUzoubT/preview" width="100%" height="200px" allow="fullscreen"></iframe>
            <h3 class="elaina-title">Hentai Moms</h3>
            <p class="elaina-p">Coly Gang</p>
        </div>
        <div class="elaina-video-item" data-category="hentai">
<iframe src="https://drive.google.com/file/d/1RBc6CM_Lih3cyDr_ulloa_8z-m9lSB4g/preview" width="100%" height="200px" allow="fullscreen"></iframe>
            <h3 class="elaina-title">Hentai Moms</h3>
            <p class="elaina-p">Coly Gang</p>
        </div>
	</section>
<a href="/" class="pickme"></a>
{% endblock %}
