<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elaina Web</title>
<link rel="icon" type="image/x-icon" href="static/images/KawaiEl.jpg">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="static/elaina.css">
</head>
<body id="body" class="drak-mode"> <header>
        <div class="header-container">
            <a href="index.html" class="logo"><i class="fas fa-hat-wizard"></i> ZONA ELAINA <i class="fas fa-star"></i></a>
            <nav class="header-nav">
                <ul>
                    <li><a href="index.html" class="{% if request.endpoint == 'home' %}active{% endif %}">Home</a></li>
                    <li><a href="anime.html" class="{% if request.endpoint == 'anime.html' %}active{% endif %}">Anime</a></li>
                    <li><a href="shorts.html" class="{% if request.endpoint == 'shorts.html' %}active{% endif %}">Shorts</a></li>
                    <li><a href="elaina.html" class="{% if request.endpoint == 'elaina.html' %}active{% endif %}">Elaina</a></li>
                    <li><a href="gallery.html" class="{% if request.endpoint == 'gallery.html' %}active{% endif %}">Gallery</a></li>
                    <li><a href="movies.html" class="{% if request.endpoint == 'movies.html' %}active{% endif %}">Movies</a></li>
                    <li><a href="contact.html" class="{% if request.endpoint == 'contact.html' %}active{% endif %}">Contact</a></li>
                      </ul>
                   </nav>
                <div class="header-actions">
                <button id="darkModeToggle" class="dark-mode-toggle" aria-label="Toggle dark mode">
                    <i class="fa fa-adjust" aria-hidden="true"></i>
                </button>
                <a href="Ayo chat di WhatsApp, aplikasi yang cepat, sederhana, dan aman untuk berkirim pesan dan menelepon secara gratis. Dapatkan di https://wa.me/dl" target="_blank" class="whatsapp-button">
		   <i class="fab fa-whatsapp"></i> WhatsApp
                </a>
                <button class="menu-toggle" aria-label="Toggle navigation menu">
                    <i class="fas fa-bars"></i>
                </button>
                 </div>
		 <div id="imageModal" class="image-modal-overlay">
                 <div class="image-modal-content">
                 <span class="image-close-button">&times;</span>
                 <img class="image-modal-body" id="fullImage" alt="What Hapend">
                 <div class="image-modal-caption" id="imageCaption"></div>
                 <div id="loader" class="loader"></div>
		 <div class="related-images">
		 <a id="modal-link" href="#"><i class="fas fa-share-from-square"></i>Gambar Lainya</a>
                 <div class="related-images-container">
             </div>
          </div>
       </div>
    </header>
<main class="container">
<script async src="https://cse.google.com/cse.js?cx=70cb7293df6864d90">
</script>
<div class="gcse-search"></div>

<div id="index" class="home-container">

<div class="profile-section">
<img src="static/images/kekasihku.jpg" alt="Elaina Chan" class="profile-picture">
<h1 class="profile-name">FROM ME, TO ME!</h1>
<p class="profile-bio">Welcome To My World!</p>
</div>

<div class="music-section">
<h3> <i class="fas fa-music"></i> My Playlist Music <i class="fas fa-music"></i></h3>
<div class="playlist-item" onclick="toggleSongs('playlist1')">
<img src="static/elaina.pc/casual17.jpg" alt="Anime Songs" class="playlist-thumbnail">
<p class="playlist-title">Anime Songs</p></div>

<ul id="playlist1" class="song-list"></ul>
<div class="playlist-item" onclick="toggleSongs('playlist2')">
<img src="static/elaina.pc/casual47.jpeg" alt="Mixed" class="playlist-thumbnail">
<p class="playlist-title">Mixed Album</p></div>

<ul id="playlist2" class="song-list"></ul>
</div>

<div class="thumbnail-gallery">

<a href="whitch" class="item-link">
    <div class="anime-item">
<img src="static/elaina.pc/001.jpg" alt="Kawaiii" data-full="static/elaina.pc/001.jpg" data-link="elaina">
        <div class="anime-info">
            <span class="anime-status">Completed</span>
            <span class="anime-type">Bluray</span>
            <h3 class="anime-title">Majo No Tabi-Tabi</h3>
            <p class="anime-episode">Ep [END]</p>
        </div></div></a>

<a href="manga" class="item-link">
    <div class="anime-item">
<img src="static/elaina.pc/manga/manga.jpeg" alt="Manga" data-full="static/elaina.pc/manga/manga.jpeg" data-link="anime">
        <div class="anime-info">
            <span class="anime-status">On Going</span>
            <span class="anime-type">Manga</span>
            <h3 class="anime-title">Manga Collection</h3>
            <p class="anime-episode">Ep [99+]</p>
        </div></div></a>

<a href="gallery" class="item-link">
    <div class="anime-item">
<img src="static/elaina.pc/onichan1.jpg" alt="Yang Manis Manis" data-full="static/elaina.pc/onichan1.jpg" data-link="shorts">
            <div class="anime-info">
            <span class="anime-status">On Going</span>
            <span class="anime-type">Bluray</span>
            <h3 class="anime-title">Gallery Elaina</h3>
            <p class="anime-episode">Ep [999+]</p>
        </div></div></a>
<a href="hentai" class="item-link">
    <div class="anime-item">
<img src="static/elaina.pc/kawai3.jpg" alt="Cuteee" data-full="elaina.pc/001.jpg" data-link="movies">
            <div class="anime-info">
            <span class="anime-status">On Going</span>
            <span class="anime-type">Bluray</span>
            <h3 class="anime-title">Hentai Collection</h3>
            <p class="anime-episode">Ep [8]</p>
        </div></div></a>
<a href="anime" class="item-link">
    <div class="anime-item">
<img src="static/elaina.pc/elaina01/elaina1.jpeg" alt="Onichann" data-full="static/elaina.pc/onichan1.jpg" data-link="movies#musoku">
            <div class="anime-info">
            <span class="anime-status">Completed</span>
            <span class="anime-type">Bluray</span>
            <h3 class="anime-title">Anime</h3>
            <p class="anime-episode">Ep [End]</p>
         </div></div></a>
<a href="Douyin" class="item-link">
    <div class="anime-item">
<img src="static/elaina.pc/sexy33.jpg" alt="Mommy" data-full="static/elaina.pc/onichan1.jpg" data-link="elaina#elaina18+">
            <div class="anime-info">
            <span class="anime-status">Completed</span>
            <span class="anime-type">Comic</span>
            <h3 class="anime-title">Douyin</h3>
            <p class="anime-episode">Ep [End]</p>
         </div></div></a>
</div>

<div class="quick-links-home">
    <a href="anime.html" class="home-quick-button"><i class="fas fa-play-circle"></i> Anime Collection</a>
    <a href="gallery.html" class="home-quick-button"><i class="fas fa-images"></i> Gallery Collection</a>
</div>
</div>
</main>

                            <footer>
        <div class="footer-links">
    <a href="https://www.facebook.com/share/1CQRuBRsAc/" class="nav-button"><i class="fab fa-facebook-f"></i> Facebook</a>
    <a href="https://pin.it/2AbohMfUX" class="nav-button"><i class="fab fa-pinterest-p"></i> Pinterest</a>
    <a href="https://www.instagram.com/elaina.chan09?igsh=MXRraGwwNXVqazF6Yg==" target="_blank" class="nav-button"><i class="fab fa-instagram"></i> Instagram</a>
    <a href="https://www.tiktok.com" class="nav-button"><i class="fab fa-tiktok"></i> Tiktok</a>
    <a href="https://youtube.com/@elainachan09?si=gpZVXnLocXd8eVOu" class="nav-button"><i class="fab fa-youtube"></i> Youtube</a>
    </div>


        <p class="copyright-text">
            &copy; 2025 ZONA ELAINA.
            <br>
            <a href="https://www.instagram.com/elaina.chan09?igsh=MXRraGwwNXVqazF6Yg==" target="_blank"><i class="fab fa-instagram"></i> Instagram</a> |
            <a href="https://t.me/Halo, Saya pakai Telegram untuk chat. Ayo ikutan, unduh di sini: https://telegram.org/dl" target="_blank"><i class="fab fa-telegram-plane"></i> Telegram</a>
       </p>
    </footer>

    <script src="static/js/script.js"></script>
    <script src="static/js/icon.js"></script>
    <script src="static/js/modal.js"></script>
    <script src="static/js/movies.js"></script>
    <script src="static/js/gallery.js"></script>
    <script src="static/js/songs.js"></script>
    </script>
</body>
</html>

