<!DOCTYPE html>
<html lang="id">
<head>
	<meta name="google-site-verification" content="kon0eawmrgEHzvac_Ibvae-6_F6suftewCsfBLeaSrM" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies Collection -Elaina Chan</title>
    <link rel="icon" type="image/x-icon" href="static/images/KawaiEl.jpg">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="static/elaina.css">
</head>
<body id="body" class="drak-mode"> <header>
        <div class="header-container">
            <a href="index.html" class="logo"><i class="fas fa-hat-wizard"></i> ZONA ELAINA <i class="fas fa-star"></i></a>
            <nav class="header-nav">
                <ul>
                    <li><a href="index.html" class="{% if request.endpoint == 'home' %}active{% endif %}">Home</a></li>
                    <li><a href="anime.html" class="{% if request.endpoint == 'anime.html' %}active{% endif %}">Anime</a></li>
                    <li><a href="shorts.html" class="{% if request.endpoint == 'shorts.html' %}active{% endif %}">Shorts</a></li>
                    <li><a href="elaina.html" class="{% if request.endpoint == 'elaina.html' %}active{% endif %}">Elaina</a></li>
                    <li><a href="gallery.html" class="{% if request.endpoint == 'gallery.html' %}active{% endif %}">Gallery</a></li>
                    <li><a href="movies.html" class="{% if request.endpoint == 'movies.html' %}active{% endif %}">Movies</a></li>
                    <li><a href="contact.html" class="{% if request.endpoint == 'contact.html' %}active{% endif %}">Contact</a></li>
                </ul>
            </nav>

            <div class="header-actions">
                <button id="darkModeToggle" class="dark-mode-toggle" aria-label="Toggle dark mode">
                    <i class="fa fa-adjust" aria-hidden="true"></i>
                </button>
                <a href="https://wa.me/6285707357830?text=Tinggalkan%20Pesan" target="_blank" class="whatsapp-button">
                   <i class="fab fa-whatsapp"></i> WhatsApp
                </a>
                <button class="menu-toggle" aria-label="Toggle navigation menu">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
                <div id="imageModal" class="image-modal-overlay">
                 <div class="image-modal-content">
                 <span class="image-close-button">&times;</span>
                 <img class="image-modal-body" id="fullImage" alt="What Hapend">
                 <div class="image-modal-caption" id="imageCaption"></div>
                 <div id="loader" class="loader"></div>
                 <div class="related-images">
                 <a id="modal-link" href="#"><i class="fas fa-share-from-square"></i>Gambar Lainya</a>
                 <div class="related-images-container">
             </div>
          </div>
       </div>
    </header>
<main class="container">

<h1 class="videos-title">Elaina Chan's Movie Collection</h1>
<p class="videos-p">Saksikan film-film pilihan dan jelajahi gambar-gambar terkait.</p>

<div class="movies-container">

    <section class="movie-video-section">
        <h2 class="section-title">Full Movies</h2>
        <div id="movies" class="movie-video-grid">

            <div class="movie-item video-item" data-category="movie">
<iframe src="https://drive.google.com/file/d/1PYpY6XacaPf7fhAuwbnHo7y2aGzsSWPi/preview" width="100%" height="auto" allow="fullscreen"></iframe>
                <h3 class="movie-video-title">The Journey Of Elaina's</h3>
                <p class="movie-video-description">Full Episode: { 1-12 }</p>
            </div>

            <div class="movie-item video-item" data-catergory="movie">
<iframe src="https://drive.google.com/file/d/1Pnr03imkUIsFH5E2NDUf3mJ6r9v9H-fz/preview" width="100%" height="auto" allow="fullscreen"></iframe>
                <h3 class="movie-video-title">The Demon Sword</h3>
                <p class="movie-video-description">Master Of Excalibur</p>
            </div>

            <div class="movie-item video-item" data-category="movie">
<iframe src="https://drive.google.com/file/d/1PeFx7U9kfeGQEUdnFlRiPhHUa5nhXGyL/preview" width="100%" height="auto" allow="fullscreen"></iframe>
                <h3 class="movie-video-title">Wistoria: Wand And Sword</h3>
                <p class="movie-video-description">Full Episode: <1-12></p>
            </div>

            <div class="movie-item video-item" data-category="movie">
<iframe src="https://drive.google.com/file/d/1POppiQdOaOrKPgFDgcfVlVSvY5_GFW8Q/preview" width="100%" height="auto" allow="fullscreen"></iframe>
                <h3 class="movie-video-title">Fairy Tail</h3>
                <p class="movie-video-description">Phoenix Priestess</p>
            </div>	

            <div class="movie-item video-item" data-category="movie">
                <video controls preload="none" poster="static/images/poster/mushoku_ps.webp" width="100%" height="auto" allow-"fullscreen">
    <source src="https://www.dropbox.com/scl/fi/kodjvjrbd270v51gu48aa/Semua-episode-cour-1-Mushoku-Tensei-Jobless-Reincarnation-Takarir-Indonesia-s2MTbRKvXRk.webm?rlkey=5rgapkzq8yo6n3qmjq0l1pcvi&st=3980mwvk&dl=1">
                    Browser Anda tidak mendukung tag video.
                        </video>
                <h3 class="movie-video-title">Mushoku Tenshei</h3>
                <p class="movie-video-description">All Episode Core> 1</p>
	</div>

            <div id="mushoku1" class="movie-item video-item" data-category="movie">
<video controls preload="none" poster="static/images/poster/mushoku.ps.jpeg" width="100%" height="auto"  allow-"fullscreen">
    <source src="https://www.dropbox.com/scl/fi/tsphaau0i4nasyt61lacx/Semua-episode-cour-2-Mushoku-Tensei-Jobless-Reincarnation-Takarir-Indonesia-BNXqwg9cNWc.webm?rlkey=djkhp07hdmtmg08fgpggj36cq&st=x3j1kie7&raw=1" type="video/webm">
    Browser kamu tidak mendukung tag video.
</video>
               <h3 class="movie-video-title">Mushoku Tenshei</h3>
            <p class="movie-video-description">All Episode Core> 2</p>
        </div>
	            <div class="movie-item video-item" data-category="movie">
<iframe src="https://drive.google.com/file/d/1Gtcp4oBH0sBCultxVXdXgcqy4tCNJBSu/preview" width="100%" height="auto" allow="fullscreen"></iframe>
                <h3 class="movie-video-title">Kuma Kuma Bear</h3>
                <p class="movie-video-description">All Episode 1-12</p>
        </div>
			
            <div id="mushoku2" class="movie-item video-item" data-category="movie">
<iframe src="https://drive.google.com/file/d/1F9lzHK6xf6zAz0-N19ZgsAIMlcQh-tMW/preview" width="100%" height="auto" allow="fullscreen"></iframe>
		<h3 class="movie-video-title">Tantei Wa Mo Shinde Iru</h3>
                <p class="movie-video-description">Full Episode: <1-12></p>
              </div>
            <div class="movie-item video-item" data-category="movie">
<iframe src="https://drive.google.com/file/d/1GsHa1Vh6jfZRDfBZA0d1kKJABj8UtbG6/preview" width="100%" height="auto" allow="fullscreen"></iframe>
                <h3 class="movie-video-title">Hataraku Maou Sama</h3>
                <p class="movie-video-description">All Episode 1-12</p>
        </div>
	</section>

    <section class="movie-image-section">
        <h2 class="section-title">Collection Pictures</h2>
        <div class="movie-image-grid">
	
           <div class="movie-item image-item" data-category="gambar"> 
                <img src="static/images/sayaelaina.jpg" alt="Bersama Murid Tersayang" class="movie-image">
                <h3 class="movie-image-title">Together</h3>
                <p class="movie-image-description"></p>
            </div>
            <div class="movie-item image-item" data-category="gambar">
                <img src="static/images/elaina.wp.jpg" alt="My Wifu" class="movie-image">
                <h3 class="movie-image-title">My Wifu</h3>
                <p class="movie-image-description"></p>
            </div>

            <div class="movie-item image-item" data-category="gambar">
                <img src="static/images/elaina.wp1.jpg" alt="Ilove It" class="movie-image">
                <h3 class="movie-image-title">Ilove it</h3>
                <p class="movie-image-description"></p>
            </div>

            <div class="movie-item image-item" data-category="gambar">
                <img src="static/images/elaina.wp2.jpg" alt="Beutifull" class="movie-image">
                <h3 class="movie-image-title">Beutifull</h3>
                <p class="movie-image-description"></p>
            </div>
            <div class="movie-item image-item" data-category="gambar">
                <img src="static/images/elaina.wp3.jpg" alt="My Idol" class="movie-image">
                <h3 class="movie-image-title">My Idol</h3>
                <p class="movie-image-description"></p>
            </div>
            <div class="movie-item image-item" data-category="gambar">
                <img src="static/images/raiden.jpg" alt="My Idol" class="movie-image">
                <h3 class="movie-image-title">Raiden</h3>
                <p class="movie-image-description"></p>
            </div></div></section>
<a href="#" id="backToTopBtn" class="back-to-top">⬆️</a>
</div>
</main>
                            <footer>
        <div class="footer-links">
    <a href="https://www.facebook.com/share/1CQRuBRsAc/" class="nav-button"><i class="fab fa-facebook-f"></i> Facebook</a>
    <a href="https://pin.it/2AbohMfUX" class="nav-button"><i class="fab fa-pinterest-p"></i> Pinterest</a>
    <a href="https://www.instagram.com/elaina.chan09?igsh=MXRraGwwNXVqazF6Yg==" target="_blank" class="nav-button"><i class="fab fa-instagram"></i> Instagram</a>
    <a href="https://www.tiktok.com/@elaina.chan459" class="nav-button"><i class="fab fa-tiktok"></i> Tiktok</a>
    <a href="https://youtube.com/@elainachan09?si=gpZVXnLocXd8eVOu" class="nav-button"><i class="fab fa-youtube"></i> Youtube</a>
    </div>
        <p class="copyright-text">
            &copy; 2025 ZONA ELAINA.
            <br>
            <a href="https://www.instagram.com/elaina.chan09?igsh=MXRraGwwNXVqazF6Yg==" target="_blank"><i class="fab fa-instagram"></i> Instagram</a> |
            <a href="https://t.me/Halo, Saya pakai Telegram untuk chat. Ayo ikutan, unduh di sini: https://telegram.org/dl" target="_blank"><i class="fab fa-telegram-plane"></i> Telegram</a>
        </p>
    </footer>

    <script src="static/js/script.js"></script>
    <script src="static/js/icon.js"></script>
    <script src="static/js/modal.js"></script>
    <script src="static/js/movies.js"></script>
    <script src="static/js/gallery.js"></script>
    </script>
</body>
</html>
