{% extends 'base.html' %} {# WAJIB: Mewarisi dari base.html #}

{% block title %}Short Videos - Elaina Chan{% endblock %} {# Judul unik untuk halaman ini #}

{% block content %} {# Blok konten untuk halaman ini #}
<h1 class="videos-title">Short Videos</h1>
<p class="videos-p">Kumpulan video pendek dan klip menarik dari berbagai sumber.</p>

					<div id="shorts" class="shorts-container">
    					<div  class="shorts-grid">
                                        <div class="shorts-item">
<iframe src="https://drive.google.com/file/d/1bvXZc-SVS3HN2u9z0ZD8QPzl3ZOBznev/preview" width="100%" height="350px" allow="autoplay"></iframe>
            <h3 class="shorts-title">Terbang BersamaMu</h3>
            <p class="shorts-description"></p>
        </div>
                                        <div class="shorts-item">
<iframe src="https://drive.google.com/file/d/1btd5Vlg0mQYh0hLFKS2ELUMrQ0RIolOs/preview" width="100%" height="350px" allow="autoplay"></iframe>
            <h3 class="shorts-title">Si Manis Lagi Cemberut</h3>
            <p class="shorts-description"></p>
        </div>
                                        <div class="shorts-item">
<iframe src="https://drive.google.com/file/d/1biz3nFtVCWrziSRTUoc9CfYFBRtVpM86/preview" width="100%" height="350px" allow="autoplay"></iframe>
            <h3 class="shorts-title">Wanitaku</h3>
            <p class="shorts-description"></p>
        </div>
                                        <div class="shorts-item">
<iframe src="https://drive.google.com/file/d/1bme8q_7CTGW3FvXSVgeRiegVbstYqr2w/preview" width="100%" height="350px" allow="autoplay"></iframe>
            <h3 class="shorts-title">Semoga Bisa Ketemu</h3>
            <p class="shorts-description"></p>
        </div>
                                        <div class="shorts-item">
<iframe src="https://drive.google.com/file/d/1bsOTGkcATGTzLTzcKYRTf4wJEg-XAqdL/preview" width="100%" height="350px" allow="autoplay"></iframe>
            <h3 class="shorts-title">Trend</h3>
            <p class="shorts-description"></p>
        </div>

        				<div class="shorts-item">
<iframe src="https://drive.google.com/file/d/1KlHgME9w78J2Z9Q3t3eBFJqWaJSX4VGi/preview" width="100%" height="350px" allow="autoplay"></iframe>
            <h3 class="shorts-title">Flip ElChan</h3>
            <p class="shorts-description"></p>
        </div>

                                        <div class="shorts-item">
<iframe src="https://drive.google.com/file/d/1brVPDodYIFW4m4cJzhj1qXHwmfH2blip/preview" width="100%" height="350px" allow="autoplay"></iframe>
            <h3 class="shorts-title">Stay White Mee</h3>
            <p class="shorts-description"></p>
        </div>
                                        <div class="shorts-item">
<iframe src="https://drive.google.com/file/d/1bsnThfct9I4pfXGqzzrDVhsRqDfnRclN/preview" width="100%" height="350px" allow="autoplay"></iframe>
            <h3 class="shorts-title">Sangat di sayangkan</h3>
            <p class="shorts-description"></p>
        </div>
        <div class="shorts-item">
<iframe src="https://drive.google.com/file/d/1KjUB59F60MZsxSIKhkEx9UHhB4v42DUI/preview" width="100%" height="350px" allow="autoplay"></iframe>
            <h3 class="shorts-title">Mode Syantik</h3>
            <p class="shorts-description"></p>
        </div>

        <div class="shorts-item">
<iframe src="https://drive.google.com/file/d/1KZfTyzCG4Q1c5lISG_UGtvMMh4Ck77PA/preview" width="100%" height="350px" allow="autoplay"></iframe>
            <h3 class="shorts-title">Uwu</h3>
            <p class="shorts-description"></p>
        </div>

        <div class="shorts-item">
<iframe src="https://drive.google.com/file/d/1KTBnE1i7VcgiNvlXZf69suUrwhxH3EH6/preview" width="100%" height="350px" allow="autoplay"></iframe>
            <h3 class="shorts-title">Mode Tsundere</h3>
            <p class="shorts-description"></p>
        </div>

        <div class="shorts-item">
<iframe src="https://drive.google.com/file/d/1KRLVY9iW8li_t9ltSMWVxTpbCX7e5Q1q/preview" width="100%" height="350px" allow="autoplay"></iframe>
            <h3 class="shorts-title">Bersama Saya-Chan</h3>
        </div>

        <div class="shorts-item">
<iframe src="https://drive.google.com/file/d/1KQ9Ls8LtB9qaKvafTB576O7hPqJopOa2/preview" width="100%" height="250px" allow="autoplay"></iframe>
            <h3 class="shorts-title">Elaina</h3>
            <p class="shorts-description"></p>
        </div>

        <div class="shorts-item">
<iframe src="https://drive.google.com/file/d/1MWp0ukZ1HyNRwcBzisQ1VGFNXhGuUJkg/preview" width="100%" height="350px" allow="autoplay"></iframe>
            <h3 class="shorts-title">Pilih Yang Mana</h3>
            <p class="shorts-description"></p>
    </div>

        <div class="shorts-item">
<iframe src="https://drive.google.com/file/d/1SJqxCYt5Pl__tXMwVothSAvbCOn9QNJ5/preview" width="100%" height="350px" allow="autoplay"></iframe>
            </video>
            <h3 class="shorts-title">SiManis Jedag Jedug</h3>
            <p class="shorts-description"></p>
    </div>
        <div class="shorts-item">
<iframe src="https://drive.google.com/file/d/1be5SCFDOfbXQG4gdufTCAEas-G0Wz0hc/preview" width="100%" height="350px" allow="autoplay"></iframe>
            </video>
            <h3 class="shorts-title">Shikifujin</h3>
            <p class="shorts-description"></p>
    </div>
        <div class="shorts-item">
<iframe src="https://drive.google.com/file/d/1c0Z5S4xpdKN7T3uJxNj2sBzXtWxPDDQV/preview" width="100%" height="350px" allow="autoplay"></iframe>
            </video>
            <h3 class="shorts-title">Sengol Bacok</h3>
            <p class="shorts-description"></p>
    </div>
<a href="#" id="backToTopBtn" class="back-to-top">⬆️  </a>
</div>
{% endblock %} {# Akhir dari blok konten #}
