{% extends 'base.html' %} {# WAJIB: Mewarisi dari base.html #}

{% block title %}Home - Elaina Chan{% endblock %} {# Judul unik untuk halaman ini #}

{% block content %} {# Blok konten untuk halaman ini #}
<script async src="https://cse.google.com/cse.js?cx=70cb7293df6864d90">
</script>
<div class="gcse-search"></div>

<div id="home" class="home-container">
<div class="profile-section">
<img src="{{ url_for('static', filename='images/kekasihku.jpg') }}" alt="Elaina Chan" class="profile-picture">
<h1 class="profile-name">FROM ME, TO ME!</h1>
<p class="profile-bio">Welcome To My World!</p>
</div>

<div class="music-section">
<h3> <i class="fas fa-music"></i> My Playlist Music <i class="fas fa-music"></i></h3>

        <div class="playlist-item" onclick="toggleSongs('playlist1')">
     <img src="{{ url_for('static', filename='elaina.pc/casual17.jpg') }}" alt="Anime Songs" class="playlist-thumbnail">
      <p class="playlist-title">Anime Songs</p></div>

    <ul id="playlist1" class="song-list">
    {% for song in anime_songs %}
        <li>
            <img src="{{ song.poster }}" class="song-thumbnail" alt="Poster">
            <div class="song-info">
                <p class="song-title">{{ song.title }}</p>
                <p class="song-artist">{{ song.artist }}</p>
            </div>
            <audio class="song" controls preload="none">
                <source src="{{ song.src }}" type="audio/mpeg">
            </audio>
        </li>
    {% endfor %}
    </ul>
     <div class="playlist-item" onclick="toggleSongs('playlist2')">
     <img src="{{ url_for('static', filename='elaina.pc/casual47.jpeg') }}" alt="Mixed" class="playlist-thumbnail">
      <p class="playlist-title">Mixed Album</p></div>

    <ul id="playlist2" class="song-list">
    {% for song in mixed_album_songs %}
        <li>
            <img src="{{ song.poster }}" class="song-thumbnail" alt="Poster">
            <div class="song-info">
                <p class="song-title">{{ song.title }}</p>
                <p class="song-artist">{{ song.artist }}</p>
            </div>
            <audio class="song" controls preload="none">
                <source src="{{ song.src }}" type="audio/mpeg">
            </audio>
        </li>
    {% endfor %}
    </ul>

</div>
<div class="thumbnail-gallery">

<a href="whitch" class="item-link">
    <div class="anime-item">
      <img src="{{ url_for('static', filename='elaina.pc/001.jpg') }}" alt="Kawaiii" data-full="{{ url_for('static', filename='elaina.pc/001.jpg') }}" data-link="picture">
        <div class="anime-info">
            <span class="anime-status">Completed</span>
            <span class="anime-type">Bluray</span>
            <h3 class="anime-title">Majo No Tabi-Tabi</h3>
            <p class="anime-episode">Ep [END]</p>
        </div></div></a>

<a href="manga" class="item-link">
    <div class="anime-item">
      <img src="{{ url_for('static', filename='elaina.pc/manga/manga.jpeg') }}" alt="Manga" data-full="{{ url_for('static', filename='elaina.pc/manga/manga.jpeg') }}" data-link="manga">
        <div class="anime-info">
            <span class="anime-status">On Going</span>
            <span class="anime-type">Manga</span>
            <h3 class="anime-title">Manga Collection</h3>
            <p class="anime-episode">Ep [99+]</p>
        </div></div></a>

<a href="gallery" class="item-link">
    <div class="anime-item">
      <img src="{{ url_for('static', filename='elaina.pc/onichan1.jpg') }}" alt="Yang Manis Manis" data-full="{{ url_for('static', filename='elaina.pc/onichan1.jpg') }}" data-link="douyin">
	    <div class="anime-info">
            <span class="anime-status">On Going</span>
            <span class="anime-type">Bluray</span>
            <h3 class="anime-title">Gallery Elaina</h3>
            <p class="anime-episode">Ep [999+]</p>
        </div></div></a>
<a href="hentai" class="item-link">
    <div class="anime-item">
      <img src="{{ url_for('static', filename='elaina.pc/kawai3.jpg') }}" alt="Cuteee" data-full="{{ url_for('static', filename='elaina.pc/kawai5.jpeg') }}" data-link="hentai">
            <div class="anime-info">
            <span class="anime-status">On Going</span>
            <span class="anime-type">Bluray</span>
            <h3 class="anime-title">Hentai Collection</h3>
            <p class="anime-episode">Ep [8]</p>
	</div></div></a>
<a href="anime" class="item-link">
    <div class="anime-item">
      <img src="{{ url_for('static', filename='elaina.pc/elaina01/elaina1.jpeg') }}" alt="Onichann" data-full="{{ url_for('static', filename='elaina.pc/kawai3.jpg') }}" data-link="elaina">
            <div class="anime-info">
            <span class="anime-status">Completed</span>
            <span class="anime-type">Bluray</span>
            <h3 class="anime-title">Anime</h3>
            <p class="anime-episode">Ep [End]</p>
         </div></div></a>
<a href="Douyin" class="item-link">
    <div class="anime-item">
      <img src="{{ url_for('static', filename='elaina.pc/sexy28.jpg') }}" alt="Mommy" data-full="{{ url_for('static', filename='elaina.pc/manis6.jpeg') }}" data-link="elaina#elaina18+">
            <div class="anime-info">
            <span class="anime-status">Completed</span>
            <span class="anime-type">Comic</span>
            <h3 class="anime-title">Douyin</h3>
            <p class="anime-episode">Ep [End]</p>
         </div></div></a>
</div>
<div class="quick-links-home">
    <a href="{{ url_for('anime_page') }}" class="home-quick-button"><i class="fas fa-play-circle"></i> Anime Collection</a>
    <a href="{{ url_for('gallery_page') }}" class="home-quick-button"><i class="fas fa-images"></i> Gallery Collection</a>
</div>
</div>
{% endblock %} {# Akhir dari blok konten #}
