{% extends 'base.html' %}

{% block title %}Home - Elaina Chan{% endblock %}
{% block content %}

                                    <div class="page-hader">
                                <h2 class="section-title">Manga  Elaina Chan</h2>
		              <div id="manga" class="elaina-image-grid">
           <div class="elaina-item-img" data-category="manga">
            <img src="{{ url_for('static', filename='elaina.pc/manga/manga.jpeg') }}" alt="" class="elaina-image" data-full="/static/elaina.pc/001.jpg" data-link="gallery#kawai">
            <span class="heart-icon"><i class="fas fa-heart"></i></span></div>

           <div class="elaina-item-img" data-category="manga">
            <img src="{{ url_for('static', filename='elaina.pc/manga/manga1.jpeg') }}" alt="" class="elaina-image" data-full="/static/elaina.pc/elaina0.jpg" data-link="gallery#casual">
            <span class="heart-icon"><i class="fas fa-heart"></i></span></div>


           <div class="elaina-item-img" data-category="manga">
            <img src="{{ url_for('static', filename='elaina.pc/manga/manga2.jpeg') }}" alt="" class="elaina-image" data-full="/static/elaina.pc/elaina1.jpg" data-link="gallery#casual">
            <span class="heart-icon"><i class="fas fa-heart"></i></span></div>

           <div class="elaina-item-img" data-category="manga">
            <img src="{{ url_for('static', filename='elaina.pc/manga/manga3.jpeg') }}" alt="" class="elaina-image" data-full="/static/elaina.pc/001.jpg" data-link="gallery#kawai">
            <span class="heart-icon"><i class="fas fa-heart"></i></span></div>

           <div class="elaina-item-img" data-category="manga">
            <img src="{{ url_for('static', filename='elaina.pc/manga/manga4.jpeg') }}" alt="" class="elaina-image" data-full="/static/elaina.pc/001.jpg" data-link="gallery#kawai">
            <span class="heart-icon"><i class="fas fa-heart"></i></span></div>

           <div class="elaina-item-img" data-category="manga">
            <img src="{{ url_for('static', filename='elaina.pc/manga/manga5.jpeg') }}" alt="" class="elaina-image" data-full="/static/elaina.pc/001.jpg" data-link="gallery#kawai">
            <span class="heart-icon"><i class="fas fa-heart"></i></span></div>

           <div class="elaina-item-img" data-category="manga">
            <img src="{{ url_for('static', filename='elaina.pc/manga/manga6.jpeg') }}" alt="" class="elaina-image" data-full="/static/elaina.pc/001.jpg" data-link="gallery#kawai">
            <span class="heart-icon"><i class="fas fa-heart"></i></span></div>

           <div class="elaina-item-img" data-category="manga">
            <img src="{{ url_for('static', filename='elaina.pc/manga/manga7.jpeg') }}" alt="" class="elaina-image" data-full="/static/elaina.pc/001.jpg" data-link="gallery#kawai">
            <span class="heart-icon"><i class="fas fa-heart"></i></span></div>

           <div class="elaina-item-img" data-category="manga">
            <img src="{{ url_for('static', filename='elaina.pc/manga/manga8.jpeg') }}" alt="" class="elaina-image" data-full="/static/elaina.pc/001.jpg" data-link="gallery#kawai">
            <span class="heart-icon"><i class="fas fa-heart"></i></span></div>

           <div class="elaina-item-img" data-category="manga">
            <img src="{{ url_for('static', filename='elaina.pc/manga/manga9.jpeg') }}" alt="" class="elaina-image" data-full="/static/elaina.pc/001.jpg" data-link="gallery#kawai">
            <span class="heart-icon"><i class="fas fa-heart"></i></span></div>

           <div class="elaina-item-img" data-category="manga">
            <img src="{{ url_for('static', filename='elaina.pc/manga/manga10.jpeg') }}" alt="" class="elaina-image" data-full="/static/elaina.pc/001.jpg" data-link="gallery#kawai">
            <span class="heart-icon"><i class="fas fa-heart"></i></span></div>

           <div class="elaina-item-img" data-category="manga">
            <img src="{{ url_for('static', filename='elaina.pc/manga/manga11.jpeg') }}" alt="" class="elaina-image" data-full="/static/elaina.pc/001.jpg" data-link="gallery#kawai">
            <span class="heart-icon"><i class="fas fa-heart"></i></span></div>

           <div class="elaina-item-img" data-category="manga">
            <img src="{{ url_for('static', filename='elaina.pc/manga/manga12.jpeg') }}" alt="" class="elaina-image" data-full="/static/elaina.pc/001.jpg" data-link="gallery#kawai">
            <span class="heart-icon"><i class="fas fa-heart"></i></span></div>

           <div class="elaina-item-img" data-category="manga">
            <img src="{{ url_for('static', filename='elaina.pc/manga/manga13.jpeg') }}" alt="" class="elaina-image" data-full="/static/elaina.pc/001.jpg" data-link="gallery#kawai">
            <span class="heart-icon"><i class="fas fa-heart"></i></span></div>

           <div class="elaina-item-img" data-category="manga">
            <img src="{{ url_for('static', filename='elaina.pc/manga/manga14.jpeg') }}" alt="" class="elaina-image" data-full="/static/elaina.pc/001.jpg" data-link="gallery#kawai">
            <span class="heart-icon"><i class="fas fa-heart"></i></span></div>

           <div class="elaina-item-img" data-category="manga">
            <img src="{{ url_for('static', filename='elaina.pc/manga/manga15.jpeg') }}" alt="" class="elaina-image" data-full="/static/elaina.pc/001.jpg" data-link="gallery#kawai">
            <span class="heart-icon"><i class="fas fa-heart"></i></span></div>

           <div class="elaina-item-img" data-category="manga">
            <img src="{{ url_for('static', filename='elaina.pc/manga/manga16.jpeg') }}" alt="" class="elaina-image" data-full="/static/elaina.pc/001.jpg" data-link="gallery#kawai">
            <span class="heart-icon"><i class="fas fa-heart"></i></span></div>

           <div class="elaina-item-img" data-category="manga">
            <img src="{{ url_for('static', filename='elaina.pc/manga/manga17.jpeg') }}" alt="" class="elaina-image" data-full="/static/elaina.pc/001.jpg" data-link="gallery#kawai">
            <span class="heart-icon"><i class="fas fa-heart"></i></span></div>

           <div class="elaina-item-img" data-category="manga">
            <img src="{{ url_for('static', filename='elaina.pc/manga/manga18.jpeg') }}" alt="" class="elaina-image" data-full="/static/elaina.pc/001.jpg" data-link="gallery#kawai">
            <span class="heart-icon"><i class="fas fa-heart"></i></span></div>

           <div class="elaina-item-img" data-category="manga">
            <img src="{{ url_for('static', filename='elaina.pc/manga/manga19.jpeg') }}" alt="" class="elaina-image" data-full="/static/elaina.pc/001.jpg" data-link="gallery#kawai">
            <span class="heart-icon"><i class="fas fa-heart"></i></span></div>

           <div class="elaina-item-img" data-category="manga">
            <img src="{{ url_for('static', filename='elaina.pc/manga/manga20.jpeg') }}" alt="" class="elaina-image" data-full="/static/elaina.pc/001.jpg" data-link="gallery#kawai">
            <span class="heart-icon"><i class="fas fa-heart"></i></span></div>
	</div></div>
{% endblock %}
