{% extends 'base.html' %} {# WAJIB: Mewarisi dari base.html #}

{% block title %}Wandering Collection - Elaina Chan{% endblock %} {# Judul unik untuk halaman ini #}

{% block content %} {# Blok konten untuk halaman ini #}


                                <section class="elaina-videos-section">
                                <h2 class="section-title">The Journey Of Elaina</h2>
    				<div id="whitch" class="elaina-videos-grid">
        <div class="elaina-video-item" data-category="video">
<iframe src="https://drive.google.com/file/d/1Km3igEjxYPDI4LzQD33do9z-sd5pbUH7/preview" width="100%" height="200px" allow="fullscreen"></iframe>
            <h3 class="elaina-title">Wandering Whitch</h3>
            <p class="elaina-p">Episode{ 1 }</p>
        </div>

        <div class="elaina-video-item" data-category="video">
<iframe src="https://drive.google.com/file/d/1RIv7TpYD3L6N7UjMlKMgiE1I3rB1YDXM/preview" width="100%" height="200px" allow="fullscreen"></iframe>
            <h3 class="elaina-title">Wandering Whitch</h3>
            <p class="elaina-p">Episode{ 2 }</p>
        </div>

        <div class="elaina-video-item" data-category="video">
<iframe src="https://drive.google.com/file/d/1Mty6y2Kl6SMyCP5o3OWHYvBRJmy8efkB/preview" width="100%" height="200px" allow="fullscreen"></iframe>
            <h3 class="elaina-title">Wandering Whitch</h3>
            <p class="elaina-p">Episode{ 3 }</p>
        </div>

        <div class="elaina-video-item" data-category="video">
<iframe src="https://drive.google.com/file/d/1N8N7TIj835vVJ7jLjnI6GJ9jOkf_tYRg/preview" width="100%" height="200px" allow="fullscreen"></iframe>
            <h3 class="elaina-title">Wandering Whitch</h3>
            <p class="elaina-p">Episode{ 4 }</p>
	</div>

        <div class="elaina-video-item" data-category="video">
<iframe src="https://drive.google.com/file/d/1NWAkUi-mTuMXtRI7PTHbN0C5hh8IvnvM/preview" width="100%" height="200px" allow="fullscreen"></iframe>
            <h3 class="elaina-title">Wandering Whitch</h3>
            <p class="elaina-p">Episode{ 5 }</p>
        </div>

        <div class="elaina-video-item" data-category="video">
<iframe src="https://drive.google.com/file/d/1NbFmCxK9bJve9iDuuQp3NneHvJK7dWYQ/preview" width="100%" height="200px" allow="fullscreen"></iframe>
            <h3 class="elaina-title">Wandering Whitch</h3>
            <p class="elaina-p">Episode{ 6 }</p>
    </div>

        <div class="elaina-video-item" data-category="video">
<iframe src="https://drive.google.com/file/d/1NcxB57sPToMcjYyNxebrXUMqca485TRN/preview" width="100%" height="200px" allow="fullscreen"></iframe>
            <h3 class="elaina-title">Wandering Whitch</h3>
            <p class="elaina-p">Episode{ 7 }</p>
          </div>

        <div class="elaina-video-item" data-category="video">
<iframe src="https://drive.google.com/file/d/1NhcZy0Ft28trFOkAx7fZ2F_4Hggqys8l/preview" width="100%" height="200px" allow="fullscreen"></iframe>
            <h3 class="elaina-title">Wandering Whitch</h3>
            <p class="elaina-p">Episode{ 8 }</p>
          </div>

        <div class="elaina-video-item" data-category="video">
<iframe src="https://drive.google.com/file/d/1N4bcvb8I44yNRGRj4AEgKku5OJNqllcB/preview" width="100%" height="200px" allow="fullscreen"></iframe>
            <h3 class="elaina-title">Wandering Whitch</h3>
            <p class="elaina-p">Episode{ 9 }</p>
          </div>

        <div class="elaina-video-item" data-category="video">
<iframe src="https://drive.google.com/file/d/1KmCBvqzkO2hLR14xSSR0rX6LyG4zTw9F/preview" width="100%" height="200px" allow="fullscreen"></iframe>
            <h3 class="elaina-title">Wandering Whitch</h3>
            <p class="elaina-p">Episode{ 10 }</p>
          </div>

        <div class="elaina-video-item" data-category="video">
<iframe src="https://drive.google.com/file/d/1MkhwVGKeXVJIfLBGiZmglrSpCzbmYHlQ/preview" width="100%" height="200px" allow="fullscreen"></iframe>
            <h3 class="elaina-title">Wandering Whitch</h3>
            <p class="elaina-p">Episode{ 11 }</p>
          </div>

        <div class="elaina-video-item" data-category="video">
<iframe src="https://drive.google.com/file/d/1MZrPWTnd37a5W6rT8v1guARdp3nNNhmZ/preview" width="100%" height="200px" allow="fullscreen"></iframe>
            <h3 class="elaina-title">Wandering Whitch</h3>
            <p class="elaina-p">Episode{ 12 }</p>
          </div>
	</section>
<a class="nav-button" href="/"<i class="fas fa-biohazard"></i> Back <i class="fas fa-reply-all"></i></a>
<div class="filter-buttons">
<a  href="#" id="backToTopBtn" class="back-to-top">⬆️  </a></div> 
{% endblock %}
